
IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='JOBSUM')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD JOBSUM DECIMAL(13,2)
END

IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='INVOICESUM')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD INVOICESUM DECIMAL(13,2)
END

IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='CALCULATEDFROM')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD CALCULATEDFROM DECIMAL(13,2)
END

IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='FINDVAT')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD FINDVAT DECIMAL(13,2)
END

IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='VAT_TRANSFER')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD  VAT_TRANSFER VARCHAR(50)
END

IF NOT EXISTS(SELECT * FROM syscolumns WHERE id=object_id('TBL_WO_DEBTOR_INVOICE_DATA') AND name='VATAMOUNT')
BEGIN 
ALTER TABLE TBL_WO_DEBTOR_INVOICE_DATA
ADD VATAMOUNT DECIMAL(13,2)
END
