/****** Object:  UserDefinedFunction [dbo].[fnGetHeaderINV]    Script Date: 10/5/2017 3:53:20 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fnGetHeaderINV]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[fnGetHeaderINV]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetHeaderINV]    Script Date: 10/5/2017 3:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fnGetHeaderINV]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'  
CREATE FUNCTION [dbo].[fnGetHeaderINV]    
(    
 @ID_INV_NO VARCHAR(10),   
 @TYPE VARCHAR (20)  
   
)    
RETURNS VARCHAR(30)  
AS    
BEGIN   
DECLARE @RPTHEADER VARCHAR(30)  
DECLARE @INVTOTAL DECIMAL(15, 2)  
DECLARE @Dept Varchar(10)  
DECLARE @CNT_ID_PAY_TERMS AS INT  
DECLARE @ID_WO_NO AS VARCHAR(10)  
DECLARE @ID_WO_PREFIX AS VARCHAR(4)  
DECLARE @CNT_WO_NO AS INT  
DECLARE @WO_CUST AS VARCHAR(30)  
DECLARE @CUST_PAY_TERM AS INT  
DECLARE @WO_PAY_TERM AS INT  
DECLARE @VAR AS INT  
DECLARE @ID_DEBITOR AS VARCHAR(30)  
DECLARE @INT_CUSTOMER AS BIT  
DECLARE @INT_CUST_WO_HEAD AS BIT  
DECLARE @KRETYPE AS VARCHAR(20)
 --SELECT @INVTOTAL = SUM(WO_TOT_SPARE_AMT+WO_TOT_LAB_AMT+WO_TOT_GM_AMT+WO_TOT_VAT_AMT-WO_TOT_DISC_AMT) **Changed for SS3 order totals against null amounts  
 --Added department to fetch the caption from report settings table  
 --IF @TYPE = ''CreditNote'' OR  @TYPE = ''VACreditNote''  
 -- BEGIN  
 --  SELECT @Dept = ID_Dept_Inv FROM TBL_INV_HEADER WHERE ID_CN_NO = @Id_INV_NO  
 -- END  
 --ELSE  
 -- BEGIN  
 --  SELECT @Dept = ID_Dept_Inv FROM TBL_INV_HEADER WHERE ID_INV_NO = @Id_INV_NO  
 -- END  
   
 SELECT @Dept = ID_Dept_Inv FROM TBL_INV_HEADER WHERE ID_INV_NO = @Id_INV_NO  
 SELECT @INVTOTAL = DBO.FnGetInvoiceAmount(@ID_INV_NO)  
   
 DECLARE  @TEMP TABLE  
 (  
   ID_WO_NO VARCHAR(10),  
   ID_WO_PREFIX VARCHAR(4)  
     
 )  
 INSERT INTO @TEMP        
 SELECT      
   ID_WO_NO ,        
   ID_WO_PREFIX  
     
     FROM TBL_INV_DETAIL   
     WHERE ID_INV_NO = @ID_INV_NO  
       
     SELECT @CNT_WO_NO = COUNT(*) FROM @TEMP  
       
    SELECT  @CNT_ID_PAY_TERMS = COUNT(ID_PAY_TERMS_WO)FROM TBL_WO_HEADER WOH  
 INNER JOIN  TBL_INV_DETAIL IND  
 ON IND.ID_WO_NO = WOH.ID_WO_NO AND IND.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
 WHERE WOH.ID_PAY_TERMS_WO IN (SELECT ID_PT_SEQ  FROM TBL_MAS_CUST_PAYTERMS WHERE TERMS = 0)  
 AND IND.ID_INV_NO = @ID_INV_NO  
       
     SELECT @WO_CUST  =  ID_CUST_WO   
     ,@INT_CUST_WO_HEAD = USE_INTCUST  FROM TBL_WO_HEADER WOH  
    INNER JOIN TBL_MAS_CUST_GROUP CG  
     On WOH.WO_CUST_GROUPID = CG.ID_CUST_GRP_SEQ  
   INNER JOIN  TBL_INV_DETAIL IND  
   ON IND.ID_WO_NO = WOH.ID_WO_NO AND IND.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
   WHERE WOH.ID_PAY_TERMS_WO IN (SELECT ID_PT_SEQ  FROM TBL_MAS_CUST_PAYTERMS WHERE TERMS = 0)  
   AND IND.ID_INV_NO = @ID_INV_NO   
      
    SELECT @ID_DEBITOR = ID_DEBITOR FROM TBL_INV_HEADER WHERE ID_INV_NO = @ID_INV_NO   
      
     SELECT @CUST_PAY_TERM = ID_CUST_PAY_TERM ,@INT_CUSTOMER = USE_INTCUST  from  tbl_mas_customer MC  
     Inner Join TBL_MAS_CUST_GROUP CG  
     On MC.ID_CUST_GROUP = CG.ID_CUST_GRP_SEQ  
     where ID_CUST_PAY_TERM IN(SELECT ID_PT_SEQ  FROM TBL_MAS_CUST_PAYTERMS WHERE TERMS = 0)  
  AND ID_CUSTOMER = @ID_DEBITOR  
     
 SELECT  @WO_PAY_TERM = ID_PAY_TERMS_WO FROM TBL_WO_HEADER where ID_PAY_TERMS_WO IN(SELECT ID_PT_SEQ  FROM TBL_MAS_CUST_PAYTERMS WHERE TERMS = 0)  
 AND ID_CUST_WO = @ID_DEBITOR  
   
 --INNER JOIN  TBL_INV_DETAIL IND  
 --ON IND.ID_WO_NO = WOH.ID_WO_NO AND IND.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
 --WHERE WOH.ID_PAY_TERMS_WO IN (SELECT ID_PT_SEQ  FROM TBL_MAS_CUST_PAYTERMS WHERE TERMS = 0)  
 --AND IND.ID_INV_NO = @ID_INV_NO 
 SELECT @KRETYPE = WOH.WO_TYPE_WOH FROM TBL_WO_HEADER WOH  INNER JOIN  @TEMP TMP
   ON TMP.ID_WO_NO = WOH.ID_WO_NO AND TMP.ID_WO_PREFIX = WOH.ID_WO_PREFIX 
  --KRE ORDERS
  IF @KRETYPE = ''KRE''
   BEGIN
     SET @TYPE = ''CreditNote'' 
     SELECT top 1  @RPTHEADER = CAPTION FROM TBL_REP_REPORTSETTINGS RPS   
	   INNER JOIN TBL_WO_HEADER WOH  
	   ON WOH.ID_Subsidery = RPS.SUBSIDIARY AND WOH.ID_DEPT=RPS.DEPARTMENT  
	   INNER JOIN TBL_WO_DETAIL WOD  
	   ON WOD.ID_WO_NO = WOH.ID_WO_NO AND WOD.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
	   WHERE RPS.REPORTID = ''INVOICEPRINT'' AND RPS.REPORTTYPE = @TYPE AND RPS.DEPARTMENT = @Dept  
	   ORDER BY RPS.MODIFIEDDATE desc,RPS.CREATEDDATE DESC  
   END
   ELSE
    BEGIN
      IF (@ID_DEBITOR = @WO_CUST) AND (ISNULL(@INT_CUST_WO_HEAD,0)=0)    
     BEGIN  
    
  IF EXISTS (SELECT @WO_PAY_TERM)    
   BEGIN  
    SET @VAR = 1  
   END  
    
       
     END  
     ELSE   
     BEGIN  
       IF EXISTS (SELECT @CUST_PAY_TERM) AND (@CUST_PAY_TERM IS NOT NULL) AND ISNULL(@INT_CUSTOMER,0)=0  
		BEGIN  
		 SET @VAR = 1  
		END  
     END  
       
   
 IF @INVTOTAL < 0   
  BEGIN  
    IF @TYPE = ''INVOICE''  
	   BEGIN  
		SET @TYPE = ''CreditNote''  
	   END  
    IF @TYPE = ''VAINVOICE''  
	   BEGIN  
		SET @TYPE = ''VACreditNote''  
	   END  
   
   SELECT   top 1 @RPTHEADER = CAPTION FROM TBL_REP_REPORTSETTINGS RPS   
   INNER JOIN TBL_WO_HEADER WOH  
   ON WOH.ID_Subsidery = RPS.SUBSIDIARY AND WOH.ID_DEPT=RPS.DEPARTMENT  
   INNER JOIN TBL_WO_DETAIL WOD  
   ON WOD.ID_WO_NO = WOH.ID_WO_NO AND WOD.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
   WHERE RPS.REPORTID = ''INVOICEPRINT'' AND RPS.REPORTTYPE = @TYPE AND RPS.DEPARTMENT = @Dept  
   ORDER BY RPS.MODIFIEDDATE desc,RPS.CREATEDDATE DESC  
   END 
    ELSE  
	  BEGIN  
	  --IF (@CNT_WO_NO = @CNT_ID_PAY_TERMS)  
	  -- BEGIN  
	  --   SET @TYPE = ''CashInvoice''  
	       
	  -- END  
	  IF @TYPE <> ''CreditNote''   AND  @TYPE <> ''VACreditNote''  
	  BEGIN  
		IF(@VAR = 1)  
		BEGIN  
		 SET @TYPE = ''CashInvoice''  
		END  
		ELSE  
		BEGIN  
		 SET @TYPE = ''Invoice''  
		END  
	   END  
	  IF @TYPE <> ''VACreditNote'' AND @TYPE LIKE ''VA%''  
	  BEGIN  
		IF(@VAR = 1)  
		BEGIN  
		 SET @TYPE = ''VACashInvoice''  
		END  
		ELSE  
		BEGIN  
		 SET @TYPE = ''VAInvoice''  
		END  
	  END  
    
	   SELECT top 1  @RPTHEADER = CAPTION FROM TBL_REP_REPORTSETTINGS RPS   
	   INNER JOIN TBL_WO_HEADER WOH  
	   ON WOH.ID_Subsidery = RPS.SUBSIDIARY AND WOH.ID_DEPT=RPS.DEPARTMENT  
	   INNER JOIN TBL_WO_DETAIL WOD  
	   ON WOD.ID_WO_NO = WOH.ID_WO_NO AND WOD.ID_WO_PREFIX = WOH.ID_WO_PREFIX  
	   WHERE RPS.REPORTID = ''INVOICEPRINT'' AND RPS.REPORTTYPE = @TYPE AND RPS.DEPARTMENT = @Dept  
	   ORDER BY RPS.MODIFIEDDATE desc,RPS.CREATEDDATE DESC  
  END
    END 
   
       
 RETURN @RPTHEADER  
END  
  ' 
END

GO
