/****** Object:  Table [dbo].[TBL_SPR_SETTINGS]    Script Date: 11/9/2016 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_SPR_SETTINGS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TBL_SPR_SETTINGS](
	[ID_SP_SETT] [int] IDENTITY(1,1) NOT NULL,
	[ID_MAKE] [varchar](20) NULL,
	[ID_SUPPLIER] [int] NULL,
	[LOCATION] [varchar](100) NULL,
	[FLG_STOCK_ITEM] [bit] NOT NULL,
	[FLG_STOCKITEM_STATUS] [bit] NOT NULL,
	[FLG_NONSTOCKITEM_STATUS] [bit] NOT NULL,
	[DT_CREATED] [datetime] NOT NULL,
	[DT_MODIFIED] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TBL_SPARE_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID_SP_SETT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
