USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_ITEMS]    Script Date: 31.01.2018 13:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_SPR_PO_FETCH_ITEMS]
(
	@NUMBER VARCHAR(50)	 
)
AS
BEGIN
	DECLARE @MAINQRY AS NVARCHAR(MAX)
	DECLARE @CQRY AS NVARCHAR(MAX)

   SELECT [ID_PO]		
      ,[POLINENO]
      ,[POPREFIX]
	  ,[PONUMBER]
      ,[ID_ITEM]
      ,[ITEM_CATG_DESC]
      ,[ORDERQTY]
      ,[DELIVERED_QTY]
      ,[REMAINING_QTY]
      ,[BUYCOST]
      ,[TOTALCOST]
      ,[BACKORDERQTY]
      ,[ID_WOITEM_SEQ]
      ,[CONFIRMQTY]
      ,[CREATED_BY]
      ,[MODIFIED_BY]
      ,[DT_CREATED]
      ,[DT_MODIFIED]
      ,[DELIVERED]
      ,[ANNOTATION]
  FROM [TBL_SPR_PO_ITEMS]
  WHERE PONUMBER = @NUMBER	
		
	--SET @CQRY = ' WHERE PONUMBER = ' + @NUMBER + ' '
	 

	--SET @MAINQRY = @MAINQRY + @CQRY

	--EXEC (@MAINQRY)
	
	
END