/****** Object:  StoredProcedure [dbo].[USP_INSERT_MAS_VEHICLE]    Script Date: 6/15/2017 12:31:25 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INSERT_MAS_VEHICLE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INSERT_MAS_VEHICLE]
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_MAS_VEHICLE]    Script Date: 6/15/2017 12:31:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INSERT_MAS_VEHICLE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_INSERT_MAS_VEHICLE] AS' 
END
GO
  
-- =============================================  
-- Author:  Praveen  
-- Description: To save vehicle details  
-- =============================================  
ALTER PROCEDURE [dbo].[USP_INSERT_MAS_VEHICLE]                    
(                    
 @IV_VEH_REG_NO   VARCHAR(15),                    
 @IV_VEH_INTERN_NO  VARCHAR(15),                    
 @IV_VEH_VIN   VARCHAR(20),    --Understellsnummer                
 @IV_ID_MAKE_VEH  VARCHAR(10),                    
 @IV_ID_MODEL_VEH  VARCHAR(10),                    
 @IV_VEH_TYPE   VARCHAR(70),                    
 @IV_VEH_ERGN_DT  VARCHAR(20),                    
 @ID_VEH_MILEAGE     INT,                    
 @IV_VEH_MIL_REGN_DT VARCHAR(20),                    
 @ID_VEH_HRS   DECIMAL(13, 3),                    
 @IV_VEH_HRS_ERGN_DT    VARCHAR(20),                    
 @II_VEH_MDL_YEAR  INT,                                         
 @IV_VEH_ANNOT   VARCHAR(200),                    
 @IV_CREATED_BY   VARCHAR(20),        
 @IV_PICK               VARCHAR(50),  
 @IV_VEH_REFNO   VARCHAR(30),  
 @IV_VEH_NEW_USED       VARCHAR(30),  
 @IV_VEH_STATUS   VARCHAR(30),  
 @IV_VEH_MODEL_TYPE  VARCHAR(30),  
 @IV_VEH_REGYEAR  INT,  
 @IV_VEH_REG_DATE_NO VARCHAR(30),  
 @IV_VEH_LAST_REGDATE VARCHAR(20),  
 @IV_VEH_DEREG_DATE  VARCHAR(20),  
 @IV_VEH_CATEGORY  VARCHAR(30),  
 @IV_VEH_MACHINE_W_HOURS BIT,  
 @IV_VEH_COLOR   VARCHAR(30),             
 @IV_VEH_WARRANTY_CODE VARCHAR(30),  
 @IV_VEH_NET_WEIGHT  VARCHAR(30),  
 @IV_VEH_TOT_WEIGHT  VARCHAR(30),  
 @IV_VEH_PROJECT_NO  VARCHAR(30),  
 @IV_VEH_LAST_CONTACT_DATE VARCHAR(20),  
 @IV_VEH_PRACTICAL_LOAD VARCHAR(30),  
 @IV_VEH_MAX_ROOF_LOAD VARCHAR(30),  
 @IV_VEH_EARLIER_REGNO_1 VARCHAR(30),  
 @IV_VEH_EARLIER_REGNO_2 VARCHAR(30),  
 @IV_VEH_EARLIER_REGNO_3 VARCHAR(30),  
 @IV_VEH_EARLIER_REGNO_4 VARCHAR(30),  
 @II_ID_GROUP_VEH  VARCHAR(30),  
 @IV_VEH_NOTE    VARCHAR(30),  
 @IV_VEH_MAKECODE_NO VARCHAR(30),  
 @IV_VEH_TECH_RICAMBINO VARCHAR(30),  
 @IV_VEH_TECH_ENGINE_NO VARCHAR(30),  
 @IV_VEH_TECH_FUEL_CODE VARCHAR(30),  
 @IV_VEH_TECH_FUEL_CARD VARCHAR(30),  
 @IV_VEH_TECH_GEARBOX VARCHAR(30),  
 @IV_VEH_TECH_WH VARCHAR(30),  
 @IV_VEH_TECH_KEYNO VARCHAR(30),  
 @IV_VEH_TECH_DOOR_KEYNO VARCHAR(30),  
 @IV_VEH_TECH_CONTROL_FORM VARCHAR(30),  
 @IV_VEH_TECH_INTERIOR_CODE VARCHAR(30),  
 @IV_VEH_TECH_PO VARCHAR(30),  
 @IV_VEH_TECH_ADDON_GRP VARCHAR(30),  
 @IV_VEH_TECH_DATE_EXPECTED_IN VARCHAR(30),  
 @IV_VEH_TECH_TIRES VARCHAR(30),  
 @IV_VEH_TECH_SERVICE_CATEGORY VARCHAR(30),  
 @IV_VEH_TECH_NO_APPROVAL_NO VARCHAR(30),  
 @IV_VEH_TECH_EU_APPROVAL_NO VARCHAR(30),  
 @IV_VEH_TECH_VAN_NO VARCHAR(30),  
 @IV_VEH_TECH_PRODUCT_NO VARCHAR(30),  
 @IV_VEH_TECH_ELCODE VARCHAR(30),  
 @IV_VEH_TECH_TAKEN_IN_DATE VARCHAR(30),  
 @IV_VEH_TECH_TAKEN_IN_MILEAGE INT,  
 @IV_VEH_TECH_DELIVERY_DATE VARCHAR(30),  
 @IV_VEH_TECH_DELIVERY_MILEAGE INT,  
 @IV_VEH_TECH_SERVICE_DATE VARCHAR(30),  
 @IV_VEH_TECH_SERVICE_MILEAGE INT,  
 @IV_VEH_TECH_CALL_IN_DATE VARCHAR(30),  
 @IV_VEH_TECH_CALL_IN_MILEAGE INT,  
 @IV_VEH_TECH_CLEANED_DATE VARCHAR(30),  
 @IV_VEH_TECH_TECHDOC_NO VARCHAR(30),  
 @IV_VEH_TECH_LENGTH INT,  
 @IV_VEH_TECH_WIDTH INT,  
 @IV_VEH_TECH_NOISE VARCHAR(30),  
 @IV_VEH_TECH_EFFEKT_KW INT,  
 @IV_VEH_TECH_PISTON_DISP VARCHAR(30),  
 @IV_VEH_TECH_ROUNDS_PER_MINUTE VARCHAR(30),  
 @IV_VEH_TECH_USED_IMPORTED BIT,  
 @IV_VEH_TECH_PRESSURE_MECH_BRAKES BIT,  
 @IV_VEH_TECH_TOWBAR BIT,  
 @IV_VEH_TECH_SERVICE_BOOK BIT,  
 @IV_VEH_TECH_LAST_PKK_APPROVED VARCHAR(30),  
 @IV_VEH_TECH_NEXT_PKK VARCHAR(30),  
 @IV_VEH_TECH_LAST_PKK_INVOICED VARCHAR(30),  
 @IV_VEH_TECH_CALL_IN_SERVICE BIT,  
 @IV_VEH_TECH_CALL_IN_MONTH INT,  
 @IV_VEH_TECH_CALL_IN_SERVICE_MILEAGE INT,  
 @IV_VEH_TECH_DO_NOT_CALL_PKK BIT,  
 @IV_VEH_TECH_DEVIATIONS_PKK  VARCHAR(30),  
 @IV_VEH_TECH_YEARLY_MILEAGE INT,  
 @IV_VEH_TECH_RADIO_CODE VARCHAR(30),  
 @IV_VEH_TECH_START_IMMOBILIZER VARCHAR(30),  
 @IV_VEH_TECH_QTY_KEYS INT,  
 @IV_VEH_TECH_KEYTAG_NO VARCHAR(30),  
 @IV_VEH_ECO_SALESPRICE_NET DECIMAL(18, 2),  
 @IV_VEH_ECO_SALARY DECIMAL(18, 2),     
 @IV_VEH_ECO_SALES_EQUIPMENT DECIMAL(18, 2),          
 @IV_VEH_ECO_REG_COSTS DECIMAL(18, 2),                 
 @IV_VEH_ECO_DISCOUNT INT,                    
 @IV_VEH_ECO_NET_SALESPRICE DECIMAL(18, 2),          
 @IV_VEH_ECO_FIX_COST DECIMAL(18, 2),                       
 @IV_VEH_ECO_ASSIST_SALES DECIMAL(18, 2),             
 @IV_VEH_ECO_COST_AFTER_SALES DECIMAL(18, 2),          
 @IV_VEH_ECO_CONTRIBUTIONS_TODAY DECIMAL(18, 2),   
 @IV_VEH_ECO_SALESPRICE_GROSS DECIMAL(18, 2),        
 @IV_VEH_ECO_REG_FEE DECIMAL(18, 2),                          
 @IV_VEH_ECO_VAT DECIMAL(18, 2),                                  
 @IV_VEH_ECO_TOTAL_AMOUNT DECIMAL(18, 2),                 
 @IV_VEH_ECO_WRECKING_AMOUNT DECIMAL(18, 2),          
 @IV_VEH_ECO_YEARLY_FEE DECIMAL(18, 2),                     
 @IV_VEH_ECO_INSURANCE DECIMAL(18, 2),                   
 @IV_VEH_ECO_COSTPRICE_NET DECIMAL(18, 2),                
 @IV_VEH_ECO_INSURANCE_BONUS INT,             
 @IV_VEH_ECO_COST_SALES DECIMAL(18, 2),                      
 @IV_VEH_ECO_COST_BEFORE_SALE DECIMAL(18, 2),          
 @IV_VEH_ECO_SALES_PROVISION DECIMAL(18, 2),          
 @IV_VEH_ECO_COMMIT_DAYS INT,                   
 @IV_VEH_ECO_ADDED_INTERESTS DECIMAL(18, 2),           
 @IV_VEH_ECO_COST_EQUIPMENT DECIMAL(18, 2),             
 @IV_VEH_ECO_TOTAL_COST DECIMAL(18, 2),  
 @IV_VEH_ECO_CREDITNOTE_NO VARCHAR(30),  
 @IV_VEH_ECO_DT_CREDITNOTE VARCHAR(30),  
 @IV_VEH_ECO_INVOICE_NO VARCHAR(30),  
 @IV_VEH_ECO_DT_INVOICE VARCHAR(30),  
 @IV_VEH_ECO_DT_REBUY VARCHAR(30),  
 @IV_VEH_ECO_REBUY_PRICE DECIMAL(18, 2),  
 @IV_VEH_ECO_COST_PER_KM DECIMAL(18, 2),  
 @IV_VEH_ECO_TURNOVER DECIMAL(18, 2),  
 @IV_VEH_ECO_PROGRESS  DECIMAL(18, 2),  
 @IV_ID_CUSTOMER_VEH  VARCHAR(20),  
 @IV_VEH_TRA_AXLE1 VARCHAR(50),  
 @IV_VEH_TRA_AXLE2 VARCHAR(50),  
 @IV_VEH_TRA_AXLE3  VARCHAR(50),  
 @IV_VEH_TRA_AXLE4 VARCHAR(50),  
 @IV_VEH_TRA_AXLE5 VARCHAR(50),  
 @IV_VEH_TRA_AXLE6 VARCHAR(50),  
 @IV_VEH_TRA_AXLE7 VARCHAR(50),  
 @IV_VEH_TRA_AXLE8 VARCHAR(50),  
 @IV_VEH_TRA_DESC VARCHAR(100),  
@IV_VEH_CERT_STD_TIRES_FRONT VARCHAR(50),  
@IV_VEH_CERT_STD_TIRES_BACK VARCHAR(50),  
@IV_VEH_CERT_MINLI_FRONT VARCHAR(50),  
@IV_VEH_CERT_MINLI_BACK VARCHAR(50),  
@IV_VEH_CERT_MIN_INPRESS_FRONT VARCHAR(50),  
@IV_VEH_CERT_MIN_INPRESS_BACK VARCHAR(50),  
@IV_VEH_CERT_STD_RIM_FRONT VARCHAR(50),  
@IV_VEH_CERT_STD_RIM_BACK VARCHAR(50),  
@IV_VEH_CERT_MIN_SPEED_FRONT VARCHAR(50),  
@IV_VEH_CERT_MIN_SPEED_BACK VARCHAR(50),  
@IV_VEH_CERT_MAX_TRACK_FRONT VARCHAR(50),  
@IV_VEH_CERT_MAX_TRACK_BACK VARCHAR(50),  
@IV_VEH_CERT_AXLE_PRESSURE_FRONT VARCHAR(50),  
@IV_VEH_CERT_AXLE_PRESSURE_BACK VARCHAR(50),  
@IV_VEH_CERT_QTY_AXLES VARCHAR(50),  
@IV_VEH_CERT_AXLES_OPERATIONAL VARCHAR(50),  
@IV_VEH_CERT_DRIVE_WHEEL VARCHAR(50),  
@IV_VEH_CERT_MAX_ROOF_LOAD VARCHAR(50),  
@IV_VEH_CERT_TRAILER_WITH_BRAKES  VARCHAR(50),  
@IV_VEH_CERT_TRAILER_WITHOUT_BRAKES VARCHAR(50),  
@IV_VEH_CERT_MAX_LOAD_TOWBAR VARCHAR(50),  
@IV_VEH_CERT_LENGTH_TOWBAR VARCHAR(50),  
@IV_VEH_CERT_TOTAL_TRAILER_WEIGHT VARCHAR(50),  
@IV_VEH_CERT_SEATS VARCHAR(50),  
@IV_VEH_CERT_VALID_FROM VARCHAR(50),  
@IV_VEH_CERT_EU_VERSION VARCHAR(50),  
@IV_VEH_CERT_EU_VARIANT VARCHAR(50),  
@IV_VEH_CERT_EURONORM VARCHAR(50),  
@IV_VEH_CERT_CO2_EMISSION VARCHAR(50),  
@IV_VEH_CERT_MAKE_PARTICLE_FILTER VARCHAR(50),  
@IV_VEH_CERT_CHASSI VARCHAR(50),  
@IV_VEH_CERT_IDENTITY VARCHAR(50),  
@IV_VEH_CERT_CERTIFICATE VARCHAR(50),  
@IV_VEH_CERT_ANNOTATION VARCHAR(50),  
   
  
 @OV_RETVALUE   VARCHAR(10) OUTPUT,                    
 @OI_ID_VEH_SEQ   INT OUTPUT,  
 @OV_RETREFNO   VARCHAR(30) OUTPUT      
)                    
AS                    
BEGIN                       
 DECLARE @IV_VEH_SEQ  INT         
 DECLARE @COUNT INT,@II_ID_VEH_OWNER INT                        
 DECLARE @IV_VEH_ERGN_DT1    VARCHAR(10)           
 DECLARE @IV_VEH_MIL_REGN_DT1 VARCHAR(10)           
 DECLARE @IV_VEH_HRS_ERGN_DT1  VARCHAR(10)           
 DECLARE @IV_VEH_REG_DATE_NO1  VARCHAR(10)  
 DECLARE @IV_VEH_TECH_DATE_EXPECTED_IN1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_TAKEN_IN_DATE1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_DELIVERY_DATE1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_SERVICE_DATE1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_CALL_IN_DATE1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_CLEANED_DATE1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_LAST_PKK_APPROVED1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_NEXT_PKK1 VARCHAR(10)  
 DECLARE @IV_VEH_TECH_LAST_PKK_INVOICED1 VARCHAR(10)  
 DECLARE @IV_VEH_ECO_DT_CREDITNOTE1 VARCHAR(10)  
 DECLARE @IV_VEH_ECO_DT_INVOICE1 VARCHAR(10)  
 DECLARE @IV_VEH_ECO_DT_REBUY1 VARCHAR(10)  
 DECLARE @IV_VEH_CERT_VALID_FROM1 VARCHAR(50)  
 DECLARE @REFNO as VARCHAR(50)  
  
IF @IV_ID_CUSTOMER_VEH=''   
 SET @IV_ID_CUSTOMER_VEH=NULL   
           
 SET @IV_VEH_ERGN_DT1 = dbo.FN_DateFormat(@IV_VEH_ERGN_DT)          
 SET @IV_VEH_MIL_REGN_DT1 = dbo.FN_DateFormat(@IV_VEH_MIL_REGN_DT)          
 SET @IV_VEH_HRS_ERGN_DT1 = dbo.FN_DateFormat(@IV_VEH_HRS_ERGN_DT)          
 SET @IV_VEH_REG_DATE_NO1 = dbo.FN_DateFormat(@IV_VEH_REG_DATE_NO)  
 SET @IV_VEH_TECH_DATE_EXPECTED_IN1 = dbo.FN_DateFormat(@IV_VEH_TECH_DATE_EXPECTED_IN)   
 SET @IV_VEH_TECH_TAKEN_IN_DATE1 = dbo.FN_DateFormat(@IV_VEH_TECH_TAKEN_IN_DATE)  
 SET @IV_VEH_TECH_DELIVERY_DATE1 = dbo.FN_DateFormat(@IV_VEH_TECH_DELIVERY_DATE)  
 SET @IV_VEH_TECH_SERVICE_DATE1 = dbo.FN_DateFormat(@IV_VEH_TECH_SERVICE_DATE)  
 SET @IV_VEH_TECH_CALL_IN_DATE1 = dbo.FN_DateFormat(@IV_VEH_TECH_CALL_IN_DATE)  
 SET @IV_VEH_TECH_CLEANED_DATE1 = dbo.FN_DateFormat(@IV_VEH_TECH_CLEANED_DATE)  
 SET @IV_VEH_TECH_LAST_PKK_APPROVED1 = dbo.FN_DateFormat(@IV_VEH_TECH_LAST_PKK_APPROVED)  
 SET @IV_VEH_TECH_NEXT_PKK1 = dbo.FN_DateFormat(@IV_VEH_TECH_NEXT_PKK)  
 SET @IV_VEH_TECH_LAST_PKK_INVOICED1 = dbo.FN_DateFormat(@IV_VEH_TECH_LAST_PKK_INVOICED)  
 SET @IV_VEH_ECO_DT_CREDITNOTE1 = dbo.FN_DateFormat(@IV_VEH_ECO_DT_CREDITNOTE)  
 SET @IV_VEH_ECO_DT_INVOICE1 = dbo.FN_DateFormat(@IV_VEH_ECO_DT_INVOICE)  
 SET @IV_VEH_ECO_DT_REBUY1 = dbo.FN_DateFormat(@IV_VEH_ECO_DT_REBUY)  
 SET @IV_VEH_CERT_VALID_FROM1 = dbo.FN_DateFormat(@IV_VEH_CERT_VALID_FROM)  
          
 IF @IV_ID_MAKE_VEH =''                   
   BEGIN                            
    SET @IV_ID_MAKE_VEH=NULL                            
   END         
     
  --SELECT @IV_ID_MAKE_VEH = ID_MAKE FROM TBL_MAS_MAKE WHERE LOWER(ID_MAKE_NAME) = LOWER(@IV_ID_MAKE_VEH)  
          
 IF @IV_ID_MODEL_VEH =''                   
 BEGIN                            
  SET @IV_ID_MODEL_VEH=NULL                            
 END     
  
 IF @II_ID_GROUP_VEH =''                   
 BEGIN                            
  SET @II_ID_GROUP_VEH=NULL                            
 END               
   
 SET @COUNT=0                    
 SET @OV_RETVALUE = ''          
                  
 --IF @IV_VEH_REG_NO <> ''                    
 --BEGIN                    
 -- SELECT                     
 --  @COUNT = COUNT(*)                     
 -- FROM                     
 --  TBL_MAS_VEHICLE                     
 -- WHERE                     
 --  VEH_REG_NO = @IV_VEH_REG_NO                     
             
 -- IF @COUNT > 0                    
 -- BEGIN                    
 --  SET @OV_RETVALUE ='REGFLG'                    
 -- END                    
 --END                    
             
 --IF @IV_VEH_INTERN_NO <> ''                    
 --BEGIN                    
 --SET @COUNT=0                    
 -- SELECT                     
 --  @COUNT = COUNT(*)                     
 -- FROM                     
 --  TBL_MAS_VEHICLE                     
 -- WHERE                     
 --  VEH_INTERN_NO = @IV_VEH_INTERN_NO                    
               
 -- IF @COUNT > 0                    
 -- BEGIN                    
 --  SET @OV_RETVALUE ='INTFLG'                    
 -- END                    
 --END   -- IF @IV_VEH_INTERN_NO <> ''                  
             
 --IF @IV_VEH_VIN <> ''                    
 --BEGIN                    
 -- SET @COUNT=0                    
 -- SELECT                     
 --  @COUNT = COUNT(*)                     
 -- FROM                     
 --  TBL_MAS_VEHICLE                     
 -- WHERE                     
 --  VEH_VIN = @IV_VEH_VIN                     
                
 -- IF @COUNT > 0                    
 -- BEGIN                    
 --  SET @OV_RETVALUE ='VINFLG'                    
 -- END                    
 --END  -- IF @IV_VEH_VIN <> ''         
                  
  PRINT @OV_RETVALUE                    
              
 IF @OV_RETVALUE = ''                    
 BEGIN                  
             
  SET @COUNT=0                    
  SELECT                     
   @COUNT = COUNT(*)                     
  FROM                     
   TBL_MAS_VEHICLE                     
  WHERE                    
   VEH_REG_NO = @IV_VEH_REG_NO            
  -- AND VEH_INTERN_NO = @IV_VEH_INTERN_NO           
   --AND VEH_VIN = @IV_VEH_VIN   
     
                    
 IF @COUNT = 0  
                     
  BEGIN    
	  BEGIN  
		  SET @REFNO = (select refno_prefix+cast(refno_year as VARCHAR(10))+ cast(refno_count+1 as VARCHAR(10)) as refno_count   
		 from tbl_mas_vehicle_refno where refno_code = @IV_VEH_NEW_USED)  
	  END	
               
   BEGIN TRAN   
  INSERT INTO TBL_MAS_VEHICLE                    
  (                     
	VEH_REG_NO,                    
	VEH_INTERN_NO,                        
	VEH_VIN,                    
	ID_MAKE_VEH,                    
	ID_MODEL_VEH,                    
	VEH_TYPE,                    
	DT_VEH_ERGN,                    
	VEH_MILEAGE,                    
	DT_VEH_MIL_REGN,                    
	VEH_HRS,                    
	DT_VEH_HRS_ERGN,                 
	VEH_MDL_YEAR,                    
	VEH_ANNOT,   
	CERATED_BY,                    
	DT_CREATED ,  
	PICK,  
	VEH_REFNO,  
	VEH_NEW_USED,  
	VEH_STATUS,  
	VEH_MODEL_TYPE,  
	VEH_REGYEAR,  
	VEH_REG_DATE_NO,  
	VEH_LAST_REGDATE,  
	VEH_DEREG_DATE,  
	VEH_CATEGORY,  
	VEH_MACHINE_W_HOURS,  
	VEH_COLOR,  
	VEH_WARRANTY_CODE,  
	VEH_NET_WEIGHT,  
	VEH_TOT_WEIGHT,  
	VEH_PROJECT_NO,  
	VEH_LAST_CONTACT_DATE,  
	VEH_PRACTICAL_LOAD,  
	VEH_MAX_ROOF_LOAD,  
	VEH_EARLIER_REGNO_1,  
	VEH_EARLIER_REGNO_2,  
	VEH_EARLIER_REGNO_3,  
	VEH_EARLIER_REGNO_4,  
	ID_GROUP_VEH,  
	VEH_NOTE,  
	VEH_MAKE_CODE,  
	VEH_RICAMBI_NO,  
	VEH_ENGINE_NO,  
	VEH_FUEL_CODE,  
	VEH_FUEL_CARD,  
	VEH_GEAR_BOX,  
	VEH_WAREHOUSE,             
	VEH_KEYNO,                 
	VEH_DOOR_KEYNO,            
	VEH_CONTROL_FORM,          
	VEH_INTEROR_CODE,          
	VEH_PURCHASE_NO,           
	VEH_ADDON_GROUP,  
	DT_VEH_EXPECTED_IN,        
	VEH_TIRES,                 
	VEH_SERVICE_CATEGORY,      
	VEH_NO_APPROVAL_NO,        
	VEH_EU_APPROVAL_NO,        
	VAN_NUM,                   
	VEH_PRODUCT_NO,            
	VEH_EL_CODE,  
	DT_VEH_TAKEN_IN,  
	VEH_TAKEN_IN_MILEAGE,  
	DT_VEH_DELIVERY,  
	VEH_DELIVERY_MILEAGE,  
	DT_VEH_SERVICE,  
	VEH_SERVICE_MILEAGE,  
	DT_VEH_CALL_IN,  
	VEH_CALL_IN_MILEAGE,  
	DT_VEH_CLEANED,  
	VEH_TECHDOC_NO,  
	VEH_LENGTH,  
	VEH_WIDTH,  
	VEH_NOISE,  
	VEH_EFFECT_KW,  
	VEH_PISTON_DISPLACEMENT,  
	VEH_ROUNDS_PER_MIN,  
	VEH_USED_IMPORTED,         
	VEH_PRESSURE_MECH_BRAKES,  
	VEH_TOWBAR,                
	VEH_SERVICE_BOOK,  
	DT_LAST_PKK_APPROVED,      
	DT_NEXT_PKK,               
	DT_LAST_PKK_INVOICED,     
	VEH_CALL_IN_SERVICE,       
	VEH_CALL_IN_MONTH,         
	VEH_CALL_IN_SERVICE_MILEAGE,        
	VEH_DO_NOT_CALL_PKK,       
	VEH_DEVIATIONS_PKK,       
	VEH_YEARLY_MILAGE,         
	VEH_RADIO_CODE,            
	VEH_START_IMMOBILIZER,     
	VEH_QTY_KEYS,              
	VEH_KEYTAG_NO,  
	VEH_SALESPRICE_NET,  
	VEH_SALARY,  
	VEH_SALES_EQUIPMENT,  
	VEH_REG_COSTS,  
	VEH_DISCOUNT,  
	VEH_NET_SALESPRICE,  
	VEH_FIX_COST,  
	VEH_ASSIST_SALE,  
	VEH_COST_AFTER_SALE,  
	VEH_CONTRIBUTION_TODAY,  
	VEH_SALESPRICE_GROSS,  
	VEH_REG_FEE,  
	VEH_VAT,  
	VEH_TOTAL_AMOUNT,  
	VEH_WRECKING_AMOUNT,  
	VEH_YEARLY_FEE,  
	VEH_INSURANCE,  
	VEH_COSTPRICE_NET,  
	VEH_INSURANCE_BONUS,  
	VEH_COST_SALE,  
	VEH_COST_BEFORE_SALE,  
	VEH_SALES_PROVISION,  
	VEH_COMMIT_DAYS,  
	VEH_ADDED_INTERESTS,  
	VEH_COST_EQUIPMENT,  
	VEH_TOTAL_COST,  
	VEH_CREDITNOTE_NO,  
	DT_CREDITNOTE,  
	VEH_INVOICE_NO,  
	DT_INVOICE,  
	DT_REBUY,  
	VEH_REBUY_PRICE,  
	VEH_COST_PER_KM,  
	VEH_TURNOVER,  
	VEH_PROGRESS,  
	ID_CUSTOMER_VEH,  
	VEH_AXLE1,  
	VEH_AXLE2,  
	VEH_AXLE3,  
	VEH_AXLE4,  
	VEH_AXLE5,  
	VEH_AXLE6,  
	VEH_AXLE7,  
	VEH_AXLE8,  
	VEH_TRAILER_DESC,  
	VEH_STD_TIRE_FRONT,  
	VEH_STD_TIRE_BACK,  
	VEH_MINLI_FRONT,  
	VEH_MINLI_BACK,  
	VEH_MIN_INPRESS_FRONT,  
	VEH_MIN_INPRESS_BACK,  
	VEH_STD_RIM_FRONT,  
	VEH_STD_RIM_BACK,  
	VEH_MIN_SPEED_FRONT,  
	VEH_MIN_SPEED_BACK,  
	VEH_MAX_TRACK_FRONT,  
	VEH_MAX_TRACK_BACK,  
	VEH_ALLOWABLE_WEIGHT_FRONT,  
	VEH_ALLOWABLE_WEIGHT_BACK,  
	VEH_QTY_AXLES,  
	VEH_OPERATIVE_AXLES,  
	VEH_DRIVE_WHEEL,  
	VEH_TRAILER_WEIGHT_W_BRAKES,  
	VEH_TRAILER_WEIGHT_WO_BRAKES,  
	VEH_MAX_LOAD_TOWBAR,  
	VEH_LENGTH_TO_TOWBAR,  
	VEH_TOTAL_TRAILER_WEIGHT,  
	VEH_SEATS,  
	DT_VALID_FROM,  
	VEH_EU_VERSION,  
	VEH_EU_VARIANT,  
	VEH_EURONORM,  
	VEH_CO2_EMISSION,  
	VEH_MAKE_PARTICLE_FILTER,  
	VEH_CHASSI,  
	VEH_IDENTITY,  
	VEH_CERTIFICATE,  
	VEH_ANNOTATIONS                        
  )                    
  VALUES(     
	@IV_VEH_REG_NO,                    
	@REFNO,                    
	@IV_VEH_VIN,                     
	@IV_ID_MAKE_VEH,                    
	@IV_ID_MODEL_VEH,                    
	@IV_VEH_TYPE,                    
	@IV_VEH_ERGN_DT1,                    
	@ID_VEH_MILEAGE,                    
	@IV_VEH_MIL_REGN_DT1,                    
	@ID_VEH_HRS,                    
	@IV_VEH_HRS_ERGN_DT1,                    
	@II_VEH_MDL_YEAR,                                 
	@IV_VEH_ANNOT ,                 
	@IV_CREATED_BY ,                    
	GETDATE() ,  
	@IV_PICK ,  
	@IV_VEH_REFNO ,  
	@IV_VEH_NEW_USED ,  
	@IV_VEH_STATUS ,  
	@IV_VEH_MODEL_TYPE ,  
	@IV_VEH_REGYEAR ,  
	@IV_VEH_REG_DATE_NO1,  
	@IV_VEH_LAST_REGDATE ,  
	@IV_VEH_DEREG_DATE ,  
	@IV_VEH_CATEGORY ,  
	@IV_VEH_MACHINE_W_HOURS ,  
	@IV_VEH_COLOR  ,             
	@IV_VEH_WARRANTY_CODE ,  
	@IV_VEH_NET_WEIGHT ,  
	@IV_VEH_TOT_WEIGHT ,  
	@IV_VEH_PROJECT_NO ,  
	@IV_VEH_LAST_CONTACT_DATE ,  
	@IV_VEH_PRACTICAL_LOAD ,  
	@IV_VEH_MAX_ROOF_LOAD ,  
	@IV_VEH_EARLIER_REGNO_1 ,  
	@IV_VEH_EARLIER_REGNO_2 ,  
	@IV_VEH_EARLIER_REGNO_3 ,  
	@IV_VEH_EARLIER_REGNO_4 ,  
	@II_ID_GROUP_VEH,   
	@IV_VEH_NOTE,  
	@IV_VEH_MAKECODE_NO,  
	@IV_VEH_TECH_RICAMBINO,  
	@IV_VEH_TECH_ENGINE_NO,  
	@IV_VEH_TECH_FUEL_CODE,  
	@IV_VEH_TECH_FUEL_CARD,  
	@IV_VEH_TECH_GEARBOX,  
	@IV_VEH_TECH_WH,  
	@IV_VEH_TECH_KEYNO,  
	@IV_VEH_TECH_DOOR_KEYNO,  
	@IV_VEH_TECH_CONTROL_FORM,  
	@IV_VEH_TECH_INTERIOR_CODE,  
	@IV_VEH_TECH_PO,  
	@IV_VEH_TECH_ADDON_GRP,  
	@IV_VEH_TECH_DATE_EXPECTED_IN1,  
	@IV_VEH_TECH_TIRES,  
	@IV_VEH_TECH_SERVICE_CATEGORY,  
	@IV_VEH_TECH_NO_APPROVAL_NO,  
	@IV_VEH_TECH_EU_APPROVAL_NO,  
	@IV_VEH_TECH_VAN_NO,  
	@IV_VEH_TECH_PRODUCT_NO,  
	@IV_VEH_TECH_ELCODE,  
	@IV_VEH_TECH_TAKEN_IN_DATE,  
	@IV_VEH_TECH_TAKEN_IN_MILEAGE,  
	@IV_VEH_TECH_DELIVERY_DATE,  
	@IV_VEH_TECH_DELIVERY_MILEAGE,  
	@IV_VEH_TECH_SERVICE_DATE,  
	@IV_VEH_TECH_SERVICE_MILEAGE,  
	@IV_VEH_TECH_CALL_IN_DATE,  
	@IV_VEH_TECH_CALL_IN_MILEAGE,  
	@IV_VEH_TECH_CLEANED_DATE,  
	@IV_VEH_TECH_TECHDOC_NO,  
	@IV_VEH_TECH_LENGTH,  
	@IV_VEH_TECH_WIDTH,  
	@IV_VEH_TECH_NOISE,  
	@IV_VEH_TECH_EFFEKT_KW,  
	@IV_VEH_TECH_PISTON_DISP,  
	@IV_VEH_TECH_ROUNDS_PER_MINUTE,  
	@IV_VEH_TECH_USED_IMPORTED,  
	@IV_VEH_TECH_PRESSURE_MECH_BRAKES,  
	@IV_VEH_TECH_TOWBAR,  
	@IV_VEH_TECH_SERVICE_BOOK,  
	@IV_VEH_TECH_LAST_PKK_APPROVED,  
	@IV_VEH_TECH_NEXT_PKK,  
	@IV_VEH_TECH_LAST_PKK_INVOICED,  
	@IV_VEH_TECH_CALL_IN_SERVICE,  
	@IV_VEH_TECH_CALL_IN_MONTH,  
	@IV_VEH_TECH_CALL_IN_SERVICE_MILEAGE,  
	@IV_VEH_TECH_DO_NOT_CALL_PKK,  
	@IV_VEH_TECH_DEVIATIONS_PKK,  
	@IV_VEH_TECH_YEARLY_MILEAGE,  
	@IV_VEH_TECH_RADIO_CODE,  
	@IV_VEH_TECH_START_IMMOBILIZER,  
	@IV_VEH_TECH_QTY_KEYS,  
	@IV_VEH_TECH_KEYTAG_NO,  
	@IV_VEH_ECO_SALESPRICE_NET,  
	@IV_VEH_ECO_SALARY,     
	@IV_VEH_ECO_SALES_EQUIPMENT,          
	@IV_VEH_ECO_REG_COSTS,                 
	@IV_VEH_ECO_DISCOUNT,                    
	@IV_VEH_ECO_NET_SALESPRICE,          
	@IV_VEH_ECO_FIX_COST,                       
	@IV_VEH_ECO_ASSIST_SALES,             
	@IV_VEH_ECO_COST_AFTER_SALES,          
	@IV_VEH_ECO_CONTRIBUTIONS_TODAY,   
	@IV_VEH_ECO_SALESPRICE_GROSS,        
	@IV_VEH_ECO_REG_FEE,                          
	@IV_VEH_ECO_VAT,                                  
	@IV_VEH_ECO_TOTAL_AMOUNT,                 
	@IV_VEH_ECO_WRECKING_AMOUNT,          
	@IV_VEH_ECO_YEARLY_FEE,                     
	@IV_VEH_ECO_INSURANCE,                   
	@IV_VEH_ECO_COSTPRICE_NET,                
	@IV_VEH_ECO_INSURANCE_BONUS,             
	@IV_VEH_ECO_COST_SALES,                      
	@IV_VEH_ECO_COST_BEFORE_SALE,          
	@IV_VEH_ECO_SALES_PROVISION,          
	@IV_VEH_ECO_COMMIT_DAYS,                   
	@IV_VEH_ECO_ADDED_INTERESTS,           
	@IV_VEH_ECO_COST_EQUIPMENT,             
	@IV_VEH_ECO_TOTAL_COST,  
	@IV_VEH_ECO_CREDITNOTE_NO,  
	@IV_VEH_ECO_DT_CREDITNOTE,  
	@IV_VEH_ECO_INVOICE_NO,  
	@IV_VEH_ECO_DT_INVOICE,  
	@IV_VEH_ECO_DT_REBUY,  
	@IV_VEH_ECO_REBUY_PRICE,  
	@IV_VEH_ECO_COST_PER_KM,  
	@IV_VEH_ECO_TURNOVER,  
	@IV_VEH_ECO_PROGRESS,  
	@IV_ID_CUSTOMER_VEH,  
	@IV_VEH_TRA_AXLE1,  
	@IV_VEH_TRA_AXLE2,  
	@IV_VEH_TRA_AXLE3,  
	@IV_VEH_TRA_AXLE4,  
	@IV_VEH_TRA_AXLE5,  
	@IV_VEH_TRA_AXLE6,  
	@IV_VEH_TRA_AXLE7,  
	@IV_VEH_TRA_AXLE8,  
	@IV_VEH_TRA_DESC,  
	@IV_VEH_CERT_STD_TIRES_FRONT,  
	@IV_VEH_CERT_STD_TIRES_BACK,  
	@IV_VEH_CERT_MINLI_FRONT,  
	@IV_VEH_CERT_MINLI_BACK,  
	@IV_VEH_CERT_MIN_INPRESS_FRONT,  
	@IV_VEH_CERT_MIN_INPRESS_BACK,  
	@IV_VEH_CERT_STD_RIM_FRONT,  
	@IV_VEH_CERT_STD_RIM_BACK,  
	@IV_VEH_CERT_MIN_SPEED_FRONT,  
	@IV_VEH_CERT_MIN_SPEED_BACK,  
	@IV_VEH_CERT_MAX_TRACK_FRONT,  
	@IV_VEH_CERT_MAX_TRACK_BACK,  
	@IV_VEH_CERT_AXLE_PRESSURE_FRONT,  
	@IV_VEH_CERT_AXLE_PRESSURE_BACK,  
	@IV_VEH_CERT_QTY_AXLES,  
	@IV_VEH_CERT_AXLES_OPERATIONAL,  
	@IV_VEH_CERT_DRIVE_WHEEL,  
	@IV_VEH_CERT_TRAILER_WITH_BRAKES ,  
	@IV_VEH_CERT_TRAILER_WITHOUT_BRAKES,  
	@IV_VEH_CERT_MAX_LOAD_TOWBAR,  
	@IV_VEH_CERT_LENGTH_TOWBAR,  
	@IV_VEH_CERT_TOTAL_TRAILER_WEIGHT,  
	@IV_VEH_CERT_SEATS,  
	@IV_VEH_CERT_VALID_FROM,  
	@IV_VEH_CERT_EU_VERSION,  
	@IV_VEH_CERT_EU_VARIANT,  
	@IV_VEH_CERT_EURONORM,  
	@IV_VEH_CERT_CO2_EMISSION,  
	@IV_VEH_CERT_MAKE_PARTICLE_FILTER,  
	@IV_VEH_CERT_CHASSI,  
	@IV_VEH_CERT_IDENTITY,  
	@IV_VEH_CERT_CERTIFICATE,  
	@IV_VEH_CERT_ANNOTATION      
  )                 
  DECLARE @ID_NEW_VEH INT  
  SELECT @ID_NEW_VEH = @@IDENTITY  
   
   --  SET @OV_RETVALUE = 0                    
     IF @@ERROR <> 0         
		 BEGIN                   
			 ROLLBACK TRAN        
			 SET @OV_RETVALUE = @@ERROR              
			 return              
		 END        
     ELSE            
    BEGIN       
	   COMMIT TRAN            
	   SET @OV_RETVALUE = 'INSFLG'  
	   SET @OV_RETREFNO = @REFNO  
	   update TBL_MAS_VEHICLE_REFNO set Refno_Count += 1 where Refno_Code=@IV_VEH_NEW_USED  
	   SELECT  @IV_VEH_SEQ = ID_VEH_SEQ                                  
	   FROM    TBL_MAS_VEHICLE                                   
	   WHERE   VEH_REG_NO = @IV_VEH_REG_NO    
	     
	   PRINT   @IV_VEH_REG_NO  
	     
	   SET @OI_ID_VEH_SEQ =  @IV_VEH_SEQ  
    END    --IF @@ERROR <> 0             
   END                   
  ELSE                    
  BEGIN               
   --SET @OI_ID_VEH_SEQ = 0                    
   --SET @OV_RETVALUE = 'PRESENT'  
   
	   SELECT  @IV_VEH_SEQ = ID_VEH_SEQ                                  
	   FROM    TBL_MAS_VEHICLE                                   
	   WHERE   VEH_REG_NO = @IV_VEH_REG_NO    
	     
   
  UPDATE TBL_MAS_VEHICLE    
  SET   
  VEH_REG_NO=@IV_VEH_REG_NO,                    
     VEH_INTERN_NO=@IV_VEH_INTERN_NO,                        
  VEH_VIN=@IV_VEH_VIN,                    
  ID_MAKE_VEH=@IV_ID_MAKE_VEH,                    
  ID_MODEL_VEH=@IV_ID_MODEL_VEH,                    
  VEH_TYPE=@IV_VEH_TYPE,                    
  DT_VEH_ERGN = @IV_VEH_ERGN_DT1,                    
  VEH_MILEAGE = @ID_VEH_MILEAGE,                    
  DT_VEH_MIL_REGN = @IV_VEH_MIL_REGN_DT1,                    
  VEH_HRS = @ID_VEH_HRS,                    
  DT_VEH_HRS_ERGN = @IV_VEH_HRS_ERGN_DT1,                 
  VEH_MDL_YEAR = @II_VEH_MDL_YEAR,                      
  VEH_ANNOT = @IV_VEH_ANNOT ,   
  MODIFIED_BY = @IV_CREATED_BY,                    
  DT_MODIFIED = GETDATE() ,  
  PICK = @IV_PICK ,  
  VEH_REFNO = @IV_VEH_REFNO,  
  VEH_NEW_USED = @IV_VEH_NEW_USED,  
  VEH_STATUS = @IV_VEH_STATUS ,  
  VEH_MODEL_TYPE = @IV_VEH_MODEL_TYPE ,  
  VEH_REGYEAR = @IV_VEH_REGYEAR ,  
  VEH_REG_DATE_NO = @IV_VEH_REG_DATE_NO1,  
  VEH_LAST_REGDATE = @IV_VEH_LAST_REGDATE ,  
  VEH_DEREG_DATE = @IV_VEH_DEREG_DATE ,  
  VEH_CATEGORY = @IV_VEH_CATEGORY ,  
  VEH_MACHINE_W_HOURS = @IV_VEH_MACHINE_W_HOURS,  
  VEH_COLOR = @IV_VEH_COLOR,  
  VEH_WARRANTY_CODE = @IV_VEH_WARRANTY_CODE ,  
  VEH_NET_WEIGHT = @IV_VEH_NET_WEIGHT,  
  VEH_TOT_WEIGHT = @IV_VEH_TOT_WEIGHT,  
  VEH_PROJECT_NO = @IV_VEH_PROJECT_NO,  
  VEH_LAST_CONTACT_DATE = @IV_VEH_LAST_CONTACT_DATE,  
  VEH_PRACTICAL_LOAD = @IV_VEH_PRACTICAL_LOAD,  
  VEH_MAX_ROOF_LOAD = @IV_VEH_MAX_ROOF_LOAD,  
  VEH_EARLIER_REGNO_1 = @IV_VEH_EARLIER_REGNO_1,  
  VEH_EARLIER_REGNO_2 = @IV_VEH_EARLIER_REGNO_2,  
  VEH_EARLIER_REGNO_3 = @IV_VEH_EARLIER_REGNO_3,  
  VEH_EARLIER_REGNO_4 = @IV_VEH_EARLIER_REGNO_4,  
  ID_GROUP_VEH = @II_ID_GROUP_VEH,  
  VEH_NOTE = @IV_VEH_NOTE,  
  VEH_MAKE_CODE = @IV_VEH_MAKECODE_NO,  
  VEH_RICAMBI_NO = @IV_VEH_TECH_RICAMBINO,  
  VEH_ENGINE_NO = @IV_VEH_TECH_ENGINE_NO,  
  VEH_FUEL_CODE = @IV_VEH_TECH_FUEL_CODE,  
  VEH_FUEL_CARD = @IV_VEH_TECH_FUEL_CARD,  
  VEH_GEAR_BOX = @IV_VEH_TECH_GEARBOX,  
  VEH_WAREHOUSE = @IV_VEH_TECH_WH,  
  VEH_KEYNO = @IV_VEH_TECH_KEYNO,  
  VEH_DOOR_KEYNO = @IV_VEH_TECH_DOOR_KEYNO,  
  VEH_CONTROL_FORM = @IV_VEH_TECH_CONTROL_FORM,  
  VEH_INTEROR_CODE = @IV_VEH_TECH_INTERIOR_CODE,  
  VEH_PURCHASE_NO = @IV_VEH_TECH_PO,  
  VEH_ADDON_GROUP = @IV_VEH_TECH_ADDON_GRP,  
  DT_VEH_EXPECTED_IN = @IV_VEH_TECH_DATE_EXPECTED_IN1,  
  VEH_TIRES = @IV_VEH_TECH_TIRES,  
  VEH_SERVICE_CATEGORY = @IV_VEH_TECH_SERVICE_CATEGORY,  
  VEH_NO_APPROVAL_NO = @IV_VEH_TECH_NO_APPROVAL_NO,  
  VEH_EU_APPROVAL_NO = @IV_VEH_TECH_EU_APPROVAL_NO,  
  VAN_NUM = @IV_VEH_TECH_VAN_NO,  
  VEH_PRODUCT_NO = @IV_VEH_TECH_PRODUCT_NO,  
  VEH_EL_CODE = @IV_VEH_TECH_ELCODE,  
  DT_VEH_TAKEN_IN = @IV_VEH_TECH_TAKEN_IN_DATE1,  
  VEH_TAKEN_IN_MILEAGE = @IV_VEH_TECH_TAKEN_IN_MILEAGE,  
  DT_VEH_DELIVERY = @IV_VEH_TECH_DELIVERY_DATE1,  
  VEH_DELIVERY_MILEAGE = @IV_VEH_TECH_DELIVERY_MILEAGE,  
  DT_VEH_SERVICE = @IV_VEH_TECH_SERVICE_DATE1,  
  VEH_SERVICE_MILEAGE = @IV_VEH_TECH_SERVICE_MILEAGE,  
  DT_VEH_CALL_IN = @IV_VEH_TECH_CALL_IN_DATE1,  
  VEH_CALL_IN_MILEAGE = @IV_VEH_TECH_CALL_IN_MILEAGE,  
  DT_VEH_CLEANED = @IV_VEH_TECH_CLEANED_DATE1,  
  VEH_TECHDOC_NO = @IV_VEH_TECH_TECHDOC_NO,  
  VEH_LENGTH = @IV_VEH_TECH_LENGTH,  
  VEH_WIDTH = @IV_VEH_TECH_WIDTH,  
  VEH_NOISE = @IV_VEH_TECH_NOISE,  
  VEH_EFFECT_KW = @IV_VEH_TECH_EFFEKT_KW,  
  VEH_PISTON_DISPLACEMENT = @IV_VEH_TECH_PISTON_DISP,  
  VEH_ROUNDS_PER_MIN = @IV_VEH_TECH_ROUNDS_PER_MINUTE,  
  VEH_USED_IMPORTED = @IV_VEH_TECH_USED_IMPORTED,  
  VEH_PRESSURE_MECH_BRAKES = @IV_VEH_TECH_PRESSURE_MECH_BRAKES,  
  VEH_TOWBAR = @IV_VEH_TECH_TOWBAR,  
  VEH_SERVICE_BOOK = @IV_VEH_TECH_SERVICE_BOOK,  
 DT_LAST_PKK_APPROVED = @IV_VEH_TECH_LAST_PKK_APPROVED,  
 DT_NEXT_PKK = @IV_VEH_TECH_NEXT_PKK,  
 DT_LAST_PKK_INVOICED = @IV_VEH_TECH_LAST_PKK_INVOICED,  
 VEH_CALL_IN_SERVICE = @IV_VEH_TECH_CALL_IN_SERVICE,  
 VEH_CALL_IN_MONTH = @IV_VEH_TECH_CALL_IN_MONTH,  
 VEH_CALL_IN_SERVICE_MILEAGE = @IV_VEH_TECH_CALL_IN_SERVICE_MILEAGE,  
 VEH_DO_NOT_CALL_PKK = @IV_VEH_TECH_DO_NOT_CALL_PKK,  
 VEH_DEVIATIONS_PKK = @IV_VEH_TECH_DEVIATIONS_PKK,  
 VEH_YEARLY_MILAGE = @IV_VEH_TECH_YEARLY_MILEAGE,  
 VEH_RADIO_CODE = @IV_VEH_TECH_RADIO_CODE,  
 VEH_START_IMMOBILIZER = @IV_VEH_TECH_START_IMMOBILIZER,  
 VEH_QTY_KEYS = @IV_VEH_TECH_QTY_KEYS,  
 VEH_KEYTAG_NO = @IV_VEH_TECH_KEYTAG_NO,  
VEH_SALESPRICE_NET = @IV_VEH_ECO_SALESPRICE_NET,  
VEH_SALARY = @IV_VEH_ECO_SALARY,     
VEH_SALES_EQUIPMENT = @IV_VEH_ECO_SALES_EQUIPMENT,          
VEH_REG_COSTS = @IV_VEH_ECO_REG_COSTS,                 
VEH_DISCOUNT = @IV_VEH_ECO_DISCOUNT,                    
VEH_NET_SALESPRICE = @IV_VEH_ECO_NET_SALESPRICE,          
VEH_FIX_COST = @IV_VEH_ECO_FIX_COST,                       
VEH_ASSIST_SALE = @IV_VEH_ECO_ASSIST_SALES,             
VEH_COST_AFTER_SALE = @IV_VEH_ECO_COST_AFTER_SALES,          
VEH_CONTRIBUTION_TODAY = @IV_VEH_ECO_CONTRIBUTIONS_TODAY,   
VEH_SALESPRICE_GROSS = @IV_VEH_ECO_SALESPRICE_GROSS,        
VEH_REG_FEE = @IV_VEH_ECO_REG_FEE,                          
VEH_VAT = @IV_VEH_ECO_VAT,                                  
VEH_TOTAL_AMOUNT = @IV_VEH_ECO_TOTAL_AMOUNT,                 
VEH_WRECKING_AMOUNT = @IV_VEH_ECO_WRECKING_AMOUNT,          
VEH_YEARLY_FEE = @IV_VEH_ECO_YEARLY_FEE,                     
VEH_INSURANCE = @IV_VEH_ECO_INSURANCE,                   
VEH_COSTPRICE_NET = @IV_VEH_ECO_COSTPRICE_NET,                
VEH_INSURANCE_BONUS = @IV_VEH_ECO_INSURANCE_BONUS,             
VEH_COST_SALE = @IV_VEH_ECO_COST_SALES,                      
VEH_COST_BEFORE_SALE = @IV_VEH_ECO_COST_BEFORE_SALE,          
VEH_SALES_PROVISION = @IV_VEH_ECO_SALES_PROVISION,          
VEH_COMMIT_DAYS = @IV_VEH_ECO_COMMIT_DAYS,                   
VEH_ADDED_INTERESTS = @IV_VEH_ECO_ADDED_INTERESTS,           
VEH_COST_EQUIPMENT = @IV_VEH_ECO_COST_EQUIPMENT,             
VEH_TOTAL_COST = @IV_VEH_ECO_TOTAL_COST,  
VEH_CREDITNOTE_NO = @IV_VEH_ECO_CREDITNOTE_NO,                        
DT_CREDITNOTE = @IV_VEH_ECO_DT_CREDITNOTE,                        
VEH_INVOICE_NO = @IV_VEH_ECO_INVOICE_NO,                        
DT_INVOICE = @IV_VEH_ECO_DT_INVOICE,                        
DT_REBUY = @IV_VEH_ECO_DT_REBUY,                        
VEH_REBUY_PRICE = @IV_VEH_ECO_REBUY_PRICE,                        
VEH_COST_PER_KM = @IV_VEH_ECO_COST_PER_KM,                        
VEH_TURNOVER = @IV_VEH_ECO_TURNOVER,                        
VEH_PROGRESS = @IV_VEH_ECO_PROGRESS,  
ID_CUSTOMER_VEH = @IV_ID_CUSTOMER_VEH,  
VEH_AXLE1 = @IV_VEH_TRA_AXLE1,  
VEH_AXLE2 = @IV_VEH_TRA_AXLE2,  
VEH_AXLE3 = @IV_VEH_TRA_AXLE3,  
VEH_AXLE4 = @IV_VEH_TRA_AXLE4,  
VEH_AXLE5 = @IV_VEH_TRA_AXLE5,  
VEH_AXLE6 = @IV_VEH_TRA_AXLE6,  
VEH_AXLE7 = @IV_VEH_TRA_AXLE7,  
VEH_AXLE8 = @IV_VEH_TRA_AXLE8,  
VEH_TRAILER_DESC = @IV_VEH_TRA_DESC,  
VEH_STD_TIRE_FRONT = @IV_VEH_CERT_STD_TIRES_FRONT,  
VEH_STD_TIRE_BACK = @IV_VEH_CERT_STD_TIRES_BACK,  
VEH_MINLI_FRONT = @IV_VEH_CERT_MINLI_FRONT,  
VEH_MINLI_BACK = @IV_VEH_CERT_MINLI_BACK,  
VEH_MIN_INPRESS_FRONT = @IV_VEH_CERT_MIN_INPRESS_FRONT,  
VEH_MIN_INPRESS_BACK = @IV_VEH_CERT_MIN_INPRESS_BACK,  
VEH_STD_RIM_FRONT = @IV_VEH_CERT_STD_RIM_FRONT,  
VEH_STD_RIM_BACK = @IV_VEH_CERT_STD_RIM_BACK,  
VEH_MIN_SPEED_FRONT = @IV_VEH_CERT_MIN_SPEED_FRONT,  
VEH_MIN_SPEED_BACK = @IV_VEH_CERT_MIN_SPEED_BACK,  
VEH_MAX_TRACK_FRONT = @IV_VEH_CERT_MAX_TRACK_FRONT,  
VEH_MAX_TRACK_BACK = @IV_VEH_CERT_MAX_TRACK_BACK,  
VEH_ALLOWABLE_WEIGHT_FRONT = @IV_VEH_CERT_AXLE_PRESSURE_FRONT,  
VEH_ALLOWABLE_WEIGHT_BACK = @IV_VEH_CERT_AXLE_PRESSURE_BACK,  
VEH_QTY_AXLES = @IV_VEH_CERT_QTY_AXLES,  
VEH_OPERATIVE_AXLES = @IV_VEH_CERT_AXLES_OPERATIONAL,  
VEH_DRIVE_WHEEL = @IV_VEH_CERT_DRIVE_WHEEL,  
VEH_TRAILER_WEIGHT_W_BRAKES = @IV_VEH_CERT_TRAILER_WITH_BRAKES ,  
VEH_TRAILER_WEIGHT_WO_BRAKES = @IV_VEH_CERT_TRAILER_WITHOUT_BRAKES,  
VEH_MAX_LOAD_TOWBAR = @IV_VEH_CERT_MAX_LOAD_TOWBAR,  
VEH_LENGTH_TO_TOWBAR = @IV_VEH_CERT_LENGTH_TOWBAR,  
VEH_TOTAL_TRAILER_WEIGHT = @IV_VEH_CERT_TOTAL_TRAILER_WEIGHT,  
VEH_SEATS = @IV_VEH_CERT_SEATS,  
DT_VALID_FROM = @IV_VEH_CERT_VALID_FROM,  
VEH_EU_VERSION = @IV_VEH_CERT_EU_VERSION,  
VEH_EU_VARIANT = @IV_VEH_CERT_EU_VARIANT,  
VEH_EURONORM = @IV_VEH_CERT_EURONORM,  
VEH_CO2_EMISSION = @IV_VEH_CERT_CO2_EMISSION,  
VEH_MAKE_PARTICLE_FILTER = @IV_VEH_CERT_MAKE_PARTICLE_FILTER,  
VEH_CHASSI = @IV_VEH_CERT_CHASSI,  
VEH_IDENTITY = @IV_VEH_CERT_IDENTITY,  
VEH_CERTIFICATE = @IV_VEH_CERT_CERTIFICATE,  
VEH_ANNOTATIONS = @IV_VEH_CERT_ANNOTATION               
  WHERE  
  VEH_REG_NO = @IV_VEH_REG_NO            
  --AND VEH_INTERN_NO = @IV_VEH_INTERN_NO           
  --   AND VEH_VIN = @IV_VEH_VIN       
     
      SET @OV_RETVALUE = 'UPDFLG'  
      SET @OI_ID_VEH_SEQ =  @IV_VEH_SEQ 
  END  
    
                 
 END                    
 PRINT  @OV_RETVALUE                  
END                    
                        
                 
                   
                   
                
  
GO
