/****** Object:  StoredProcedure [dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]    Script Date: 12/15/2017 12:33:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]    Script Date: 12/15/2017 12:33:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE] AS' 
END
GO
-- =============================================          
-- Author: SWAPNIL ROY       
-- Create date: 11-Nov-2014          
-- Description: Save Details of E-Mailed Invoice for report
-- =============================================         
ALTER PROCEDURE [dbo].[USP_REP_INVOICE_EMAIL_REPORT_SAVE]        
(        
	@ID_INV_NO VARCHAR(50),
	@EMAIL VARCHAR(100),
	@USER_ID VARCHAR(20)
)    
AS    
BEGIN    
	SET NOCOUNT ON 
	DECLARE @TRANNAME VARCHAR(20), @IDOC AS INT    

	SELECT @TRANNAME = 'INVOICE_INSERT'    
         
	BEGIN TRANSACTION @TRANNAME            
	
	DECLARE @INVDEP VARCHAR(10)
	SELECT @INVDEP=ID_DEPT_INV FROM TBL_INV_HEADER WHERE ID_INV_NO=@ID_INV_NO	
	
	IF NOT EXISTS(SELECT * FROM TBL_INV_EMAIL_REPORT WHERE ID_INV_NO=@ID_INV_NO)
	BEGIN
	---------------------------------------------------
	--TBL_INV_EMAIL_REPORT
		DECLARE @DT_INVOICE DATETIME
		DECLARE @INV_ORDERS TABLE 
		(
		CT INT,
		INVNO VARCHAR(100),
		WONO VARCHAR(MAX)
		)

		DECLARE @INV_JOBS TABLE 
		(
		CT INT,
		INVNO VARCHAR(100),
		WONO VARCHAR(MAX)
		)

		DECLARE @JOB VARCHAR(100) 
		DECLARE @CT INT=1
		SELECT @DT_INVOICE = DT_INVOICE FROM TBL_INV_HEADER WHERE ID_INV_NO=@ID_INV_NO
		SELECT DISTINCT ID_INV_NO,ID_WO_PREFIX+ID_WO_NO WONO,isnull(ID_JOB,0) ID_JOB INTO #TEMP1 FROM TBL_INV_DETAIL  WHERE ID_INV_NO =@ID_INV_NO
		SELECT DISTINCT ID_INV_NO,WONO INTO #TEMP3 FROM #TEMP1
		SELECT ROW_NUMBER() OVER (ORDER BY ID_INV_NO,WONO) AS ROWNUM,ID_INV_NO,WONO INTO #TEMP2 FROM #TEMP3

		IF (SELECT ISNULL(FLG_DPT_WAREHOUSE,0) FROM TBL_MAS_DEPT WHERE ID_DEPT=@INVDEP)=0
			BEGIN
				WHILE(@CT<=(SELECT COUNT(*) FROM #TEMP2) )
				BEGIN
				SET @JOB=NULL
				SELECT @JOB=COALESCE(@JOB+',', '')+CONVERT(VARCHAR,ID_JOB) FROM #TEMP1 T1 WHERE T1.ID_INV_NO+T1.WONO IN (SELECT ID_INV_NO+WONO FROM #TEMP2 WHERE ROWNUM=@CT)

				INSERT INTO @INV_ORDERS
				SELECT @CT,ID_INV_NO,WONO+' : '+@JOB FROM #TEMP2 WHERE ROWNUM=@CT
				SET @CT=@CT+1
				END
			END
		ELSE
			BEGIN
				WHILE(@CT<=(SELECT COUNT(*) FROM #TEMP2) )
				BEGIN
				INSERT INTO @INV_ORDERS
				SELECT @CT,ID_INV_NO,WONO FROM #TEMP2 WHERE ROWNUM=@CT
				SET @CT=@CT+1
				END
			END
		--SELECT * FROM @INV_ORDERS
		
		DROP TABLE #TEMP1
		DROP TABLE #TEMP2
		DROP TABLE #TEMP3

		DECLARE @WONO VARCHAR(MAX) 
		SET @CT =1
		SELECT DISTINCT INVNO,WONO INTO #TEMP6 FROM @INV_ORDERS
		SELECT DISTINCT INVNO INTO #TEMP4 FROM #TEMP6
		SELECT ROW_NUMBER() OVER (ORDER BY INVNO) AS ROWNUM,INVNO INTO #TEMP5 FROM #TEMP4
		WHILE(@CT<=(SELECT COUNT(*) FROM #TEMP5) )
		BEGIN
			SET @WONO=NULL
			SELECT @WONO=COALESCE(@WONO+CHAR(10), '')+WONO FROM #TEMP6 T1 WHERE T1.INVNO IN (SELECT INVNO FROM #TEMP5 WHERE ROWNUM=@CT)
			INSERT INTO @INV_JOBS
			SELECT @CT,INVNO,@WONO FROM #TEMP5 WHERE ROWNUM=@CT
			SET @CT=@CT+1
		END
		INSERT INTO TBL_INV_EMAIL_REPORT (ID_INV_NO,DT_INVOICE,CUSTOMER,WO_NO,EMAIL_ID,INV_AMT,DT_CREATED,CREATED_BY)
		SELECT @ID_INV_NO,@DT_INVOICE,IH.ID_DEBITOR+' - '+IH.CUST_NAME,IJ.WONO,@EMAIL,IH.INV_TOT,GETDATE(),@USER_ID FROM @INV_JOBS IJ
		INNER JOIN TBL_INV_HEADER IH ON IH.ID_INV_NO = IJ.INVNO
		
		
		DROP TABLE #TEMP4
		DROP TABLE #TEMP5
		DROP TABLE #TEMP6
	---------------------------------------------------
	END

	IF @@ERROR = 0             
		BEGIN    
			COMMIT TRANSACTION @TRANNAME 
			SELECT 'SUCCESS' AS RESULT
			RETURN    
		END    
	ELSE    
		BEGIN        
			ROLLBACK TRANSACTION @TRANNAME  
			SELECT 'ERROR' AS RESULT         
		RETURN         
	END        
END

GO
