/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_POPUP]    Script Date: 10/25/2017 2:57:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SPAREPART_SEARCH_POPUP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SPAREPART_SEARCH_POPUP]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_POPUP]    Script Date: 10/25/2017 2:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SPAREPART_SEARCH_POPUP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SPAREPART_SEARCH_POPUP] AS' 
END
GO
 
 
ALTER PROCEDURE [dbo].[USP_SPAREPART_SEARCH_POPUP]   
@ID_SEARCH VARCHAR(255),
@ID_MUSTHAVEQUANTITY AS BIT,
@ID_ISSTOCKITEM AS BIT ,
@ID_ISNOTSTOCKITEM AS BIT,
@LOCATION AS VARCHAR(100)=NULL,
@SUPPLIER AS VARCHAR(50)=NULL

AS  

BEGIN

	DECLARE @MAINQRY AS NVARCHAR(MAX)
	DECLARE @CQRY AS NVARCHAR(MAX)

	SET @MAINQRY = N'SELECT [ID_ITEM]
		  ,[ITEM_DESC]
		  ,[ITEM_DESC_NAME2]
		  ,[ID_UNIT_ITEM]
		  ,[ID_MAKE]
		  ,[ID_ITEM_MODEL]
		  ,[ID_ITEM_CATG]
		  ,[ID_SUPPLIER_ITEM]
		  ,[ITEM_AVAIL_QTY]
		  ,[ID_WH_ITEM]
		  ,[ITEM_REORDER_LEVEL]
		  ,[ITEM_DISC_CODE]
		  ,[ITEM_DISC_CODE_BUY]
		  ,[BASIC_PRICE]
		  ,[ITEM_PRICE]
		  ,[COST_PRICE1]
		  ,[COST_PRICE2]
		  ,[LOCATION]
		  ,[PACKAGE_QTY]
		  ,[ID_VAT_CODE]
		  ,[ACCOUNT_CODE]
		  ,[FLG_ALLOW_BCKORD]
		  ,[FLG_CALC_PRICE]
		  ,[FLG_CNT_STOCK]
		  ,[FLG_DUTY]
		  ,[CREATED_BY]
		  ,[DT_CREATED]
		  ,[MODIFIED_BY]
		  ,[DT_MODIFIED]
		  ,[Class_Code]
		  ,[ID_SPCATEGORY]
		  ,[AVG_PRICE]
		  ,[QTY_NOT_DELIVERED]
		  ,[QTY_BO_SUPPLIER]
		  ,[LAST_BUY_PRICE]
		  ,[DT_LAST_BUY]
		  ,[MIN_STOCK]
		  ,[MAX_STOCK]
		  ,[FLG_BLOCK_AUTO_ORD]
		  ,[TD_CALC]
		  ,[FLG_STOCKITEM]
		  ,[VA_EXCHANGE_VEH]
		  ,[VA_ORDER_COST]
		  ,[FLG_STOCKITEM_STATUS]
		  ,[ENV_ID_ITEM]
		  ,[ENV_ID_MAKE]
		  ,[ENV_ID_WAREHOUSE]
		  ,[FLG_EFD]
		  ,[ALT_LOCATION]
		  ,[ANNOTATION]
		  ,[FLG_VAT_INCL]
		  ,[FLG_OBTAIN_SPARE]
		  ,[FLG_OBSOLETE_SPARE]
		  ,[FLG_AUTOADJUST_PRICE]
		  ,[FLG_LABELS]
		  ,[FLG_ALLOW_DISCOUNT]
		  ,[DISCOUNT]
		  ,[LAST_COST_PRICE]
		  ,[SUPP_CURRENTNO]
	  FROM [dbo].[TBL_MAS_ITEM_MASTER] '
  
  
	SET @CQRY = 'WHERE (ID_MAKE like ''%' + @ID_SEARCH + '%'' or ID_ITEM like ''%' + @ID_SEARCH + '%'' or ITEM_DESC like ''%' + @ID_SEARCH + '%'' or LOCATION like ''%' + @ID_SEARCH + '%'' or ID_SUPPLIER_ITEM like ''%' + @ID_SEARCH + '%'')'

	IF @ID_MUSTHAVEQUANTITY = 1
		SET @CQRY = @CQRY + ' AND ITEM_AVAIL_QTY > 0'

	IF @ID_ISSTOCKITEM = 1 AND @ID_ISNOTSTOCKITEM = 0
		SET @CQRY = @CQRY + ' AND ISNULL(FLG_STOCKITEM,0) = 1'

	IF @ID_ISNOTSTOCKITEM = 1 AND @ID_ISSTOCKITEM = 0
		SET @CQRY = @CQRY + ' AND ISNULL(FLG_STOCKITEM,0) = 0'


	IF @LOCATION IS NOT NULL AND  @LOCATION <> '' AND  @LOCATION <> '%'
		SET @CQRY = @CQRY + ' AND LOCATION LIKE ''%' + @LOCATION + '%'''

	IF @SUPPLIER IS NOT NULL AND @SUPPLIER <> '' AND @SUPPLIER <> '%'
		SET @CQRY = @CQRY + ' AND SUPP_CURRENTNO LIKE ''%' + @SUPPLIER + '%'''


	SET @MAINQRY = @MAINQRY + @CQRY

	PRINT @MAINQRY

	EXEC (@MAINQRY)

END
GO
