USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_ADD_POITEMS]    Script Date: 31.01.2018 13:49:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
ALTER PROCEDURE [dbo].[USP_SPR_PO_ADD_POITEMS]  
(  
	
	@USER VARCHAR(50), /*CURRENT USER WHO CREATES*/

	@ID_PO BIGINT,
	@POPREFIX VARCHAR(50),
	@PONUMBER VARCHAR(50),
	@ID_ITEM VARCHAR(30),
	@ITEM_CATG_DESC VARCHAR(50),
	@ORDERQTY DECIMAL(13, 2),
	@DELIVERED_QTY DECIMAL(13, 2),
	@REMAINING_QTY DECIMAL(13, 2),
	@BUYCOST DECIMAL(13, 2),
	@TOTALCOST DECIMAL(13, 2),
	@BACKORDERQTY DECIMAL(13, 2),
	@CONFIRMQTY DECIMAL(13, 2),               
	@DELIVERED BIT,                         
	@ANNOTATION VARCHAR(150)
	 		 
) 
AS  
  
BEGIN  


	DECLARE @ID_WOITEM_SEQ INT
	SET @ID_WOITEM_SEQ = 1


	DECLARE @POLINENO INT		
	SET @POLINENO = (SELECT COUNT(*) FROM TBL_SPR_PO_ITEMS WHERE PONUMBER = @PONUMBER) + 1

	INSERT INTO [TBL_SPR_PO_ITEMS]  
	(
	 ID_PO,  
	 POLINENO,
	 POPREFIX ,
	 PONUMBER ,
	 ID_ITEM,
	 ITEM_CATG_DESC ,
	 ORDERQTY,
	 DELIVERED_QTY ,
	 REMAINING_QTY ,
	 BUYCOST,
	 TOTALCOST,
	 BACKORDERQTY,
	 ID_WOITEM_SEQ,
	 CONFIRMQTY,
	 CREATED_BY,
	 MODIFIED_BY,
	 DT_CREATED,
	 DT_MODIFIED,
	 DELIVERED,
	 ANNOTATION
		 
	)  
	VALUES  
	( 
	@ID_PO,
	@POLINENO, 
	@POPREFIX ,
	@PONUMBER ,
	@ID_ITEM,
	@ITEM_CATG_DESC ,
	@ORDERQTY,
	@DELIVERED_QTY ,
	@REMAINING_QTY ,
	@BUYCOST,
	@TOTALCOST,
	@BACKORDERQTY,
	@ID_WOITEM_SEQ,
	@CONFIRMQTY,
	@USER,
	NULL,
	GETDATE(),
	NULL,
	@DELIVERED ,
	@ANNOTATION
	
	)  

		

END