USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_HEADER_ID]    Script Date: 31.01.2018 13:39:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_SPR_PO_FETCH_HEADER_ID]
(
	@NUMBER VARCHAR(50)
	
)
AS
BEGIN
	SELECT ID
	FROM TBL_SPR_PO_HEADER
	WHERE NUMBER = @NUMBER

END