USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_HEADER]    Script Date: 31.01.2018 13:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[USP_SPR_PO_FETCH_HEADER]
(
	@NUMBER VARCHAR(50),
	@SUPPLIER VARCHAR(50),
	@FROMDATE INT,
	@TODATE INT,
	@ISDELIVERED AS int,
	@CONFIRMED AS BIT,
	@UNCONFIRMED AS BIT,
	@IS_EXACT_PONUM AS BIT,
	@IS_EXACT_SUPP AS BIT

	 
)
AS
BEGIN
	DECLARE @MAINQRY AS NVARCHAR(MAX)
	DECLARE @CQRY AS NVARCHAR(MAX)

    SET @MAINQRY = N'SELECT PREFIX,
		
		
		NUMBER,
		ID_ORDERTYPE,
		SUPP_CURRENTNO,
		SUPP_NAME,
		ID_DEPT,
		ID_WAREHOUSE,
		CREATED_BY,
		DT_CREATED,
		DT_CREATED_SIMPLE,
		MODIFIED_BY,
		DT_MODIFIED,
		DT_EXPECTED_DELIVERY,
		DELIVERY_METHOD,
		STATUS,		
		ANNOTATION,
		FINISHED	
		
		
	FROM TBL_SPR_PO_HEADER'
	
	IF @IS_EXACT_PONUM = 1 AND @IS_EXACT_SUPP = 0 
		SET @CQRY = ' WHERE (NUMBER = ' + @NUMBER + ' AND SUPP_CURRENTNO like ''%' + @SUPPLIER + '%'')'

	ELSE IF @IS_EXACT_PONUM = 1 AND @IS_EXACT_SUPP = 1
		SET @CQRY = ' WHERE (NUMBER = ' + @NUMBER + ' AND SUPP_CURRENTNO = ' + @SUPPLIER  + ')'

	ELSE IF @IS_EXACT_PONUM = 0 AND @IS_EXACT_SUPP = 1
		SET @CQRY = ' WHERE (NUMBER like ''%' + @NUMBER + '%'' AND SUPP_CURRENTNO = ' + @SUPPLIER + ')'


	ELSE
		SET @CQRY = ' WHERE (NUMBER like ''%' + @NUMBER + '%'' AND SUPP_CURRENTNO like ''%' + @SUPPLIER + '%'')'

	IF @ISDELIVERED != 2
		SET @CQRY = @CQRY + ' AND (FINISHED = ' + CONVERT(VARCHAR(1),@ISDELIVERED) + ')'


	IF @FROMDATE != 0
		SET @CQRY = @CQRY + ' AND (DT_CREATED_SIMPLE >= ' + CONVERT(VARCHAR(10), @FROMDATE) + ' AND DT_CREATED_SIMPLE <= ' + CONVERT(VARCHAR(10), @TODATE) + ')'

	SET @MAINQRY = @MAINQRY + @CQRY

	EXEC (@MAINQRY)
END













