/****** Object:  StoredProcedure [dbo].[USP_FETCH_CLOCKTIME]    Script Date: 2/2/2018 2:40:36 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FETCH_CLOCKTIME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_FETCH_CLOCKTIME]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_CLOCKTIME]    Script Date: 2/2/2018 2:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FETCH_CLOCKTIME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_FETCH_CLOCKTIME] AS' 
END
GO
ALTER PROCEDURE [dbo].[USP_FETCH_CLOCKTIME]                          
(                              
  @DT_CLOCK_IN AS DATETIME ,
  @DT_CLOCK_OUT AS DATETIME ,
  @ID_USER VARCHAR(20)                  
)                          
AS                          
BEGIN          
 DECLARE @IV_ID_DEPT VARCHAR(10)
 SELECT @IV_ID_DEPT = ID_Dept_User FROM TBL_MAS_USERS WHERE ID_LOGIN = @ID_USER    
 DECLARE @START_MIN AS VARCHAR(10)  --Lunch Hour Start
 DECLARE @END_MIN AS VARCHAR(10)	--Lunch Hour End
 SELECT @START_MIN = FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = @IV_ID_DEPT    
 SELECT @END_MIN = TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = @IV_ID_DEPT 
 
 SELECT TOP 1
	CONVERT (VARCHAR (12), @DT_CLOCK_IN , 8) AS 'CLOCK IN TIME',        
	@DT_CLOCK_IN 'CLOCK IN DATE',        
	CONVERT (VARCHAR(12), @DT_CLOCK_OUT, 8) AS 'CLOCK OUT TIME',        
	@DT_CLOCK_OUT AS 'CLOCK OUT DATE',        
	--CASE WHEN (ID_JOB IS NOT NULL) AND (SELECT JOB_STATUS FROM TBL_WO_DETAIL WHERE ID_WO_PREFIX + ID_WO_NO = TBL_TR_JOB_ACTUAL.ID_WO_PREFIX + TBL_TR_JOB_ACTUAL.ID_WO_NO AND ID_JOB = TBL_TR_JOB_ACTUAL.ID_JOB) = 'INV' AND '1'='0' THEN 
	--	dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)
	--ELSE
		CASE WHEN 1 = 1 THEN   
			CASE WHEN  ID_SHIFT_NO IS NOT NULL THEN     
				CASE WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)) OR 
						((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)))) THEN
					dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)		
				ELSE
					CASE WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)) 
						AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))
						AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) <= (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))) THEN
							dbo.[fnTimeDiff-New](@DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' + (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)))		
					WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))
						AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) < (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))) THEN
							'00:00'
					WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))
						AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))) THEN
							dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' +  (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)),@DT_CLOCK_OUT)			
					WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)) 
						AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))) THEN
							DBO.[FNADDMINS](dbo.[fnTimeDiff-New](@DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' +  (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO))) ,  
							dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' +  (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = TBL_TR_JOB_ACTUAL.ID_SHIFT_NO)),@DT_CLOCK_OUT))			
					ELSE
						dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)
					END 	
				END
			ELSE 
				CASE WHEN @START_MIN <> '0' AND  @END_MIN <> '0' THEN 
					CASE WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) < @START_MIN) OR 
						((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > @END_MIN))) THEN
							dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)
					ELSE
						CASE WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) < @START_MIN) AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8)) > @START_MIN AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8)) <= @END_MIN) THEN
							dbo.[fnTimeDiff-New](@DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' + @START_MIN ))		
						WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > @START_MIN) AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) < @END_MIN)) THEN
							'00:00'
						WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) > @START_MIN) AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) > @END_MIN)) THEN
							dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' + @END_MIN),@DT_CLOCK_OUT)			
						WHEN ((CONVERT(VARCHAR(5),@DT_CLOCK_IN,8) < @START_MIN) AND (CONVERT(VARCHAR(5),@DT_CLOCK_OUT,8) > @END_MIN)) THEN
							DBO.[FNADDMINS](dbo.[fnTimeDiff-New](@DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' + @START_MIN)) ,  
							dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),@DT_CLOCK_IN,101) + ' ' + @END_MIN ),@DT_CLOCK_OUT))			
						ELSE
							dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)
						END 
					END
				ELSE
						dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT) 
				END				
			END
	--ELSE
	--	dbo.[fnTimeDiff-New](@DT_CLOCK_IN,@DT_CLOCK_OUT)
	--END
	END AS 'CLOCKED TIME'	

	FROM TBL_TR_JOB_ACTUAL
	INNER JOIN  TBL_MAS_USERS
	ON TBL_TR_JOB_ACTUAL.ID_MEC_TR IN (SELECT ID_LOGIN FROM TBL_MAS_USERS WHERE ID_DEPT_USER = 22) 
	WHERE  ID_MEC_TR = 'pv24' AND   
	ID_MEC_TR IN (select ID_LOGIN  from TBL_MAS_USERS where FIRST_NAME ='Bernt Olav'AND ID_DEPT_USER = 22)
	ORDER BY DT_CLOCK_IN DESC 
   
         
END 
GO
