/****** Object:  StoredProcedure [dbo].[USP_FETCH_INV_TIME]    Script Date: 2/2/2018 2:41:40 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FETCH_INV_TIME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_FETCH_INV_TIME]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_INV_TIME]    Script Date: 2/2/2018 2:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_FETCH_INV_TIME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_FETCH_INV_TIME] AS' 
END
GO
ALTER PROCEDURE [dbo].[USP_FETCH_INV_TIME]                          
(                              
		 @WONO  VARCHAR(30),
		 @ID_WOLAB_SEQ INT                            
)                          
AS                          
BEGIN          
    
DECLARE @TOTAL_TIME_ORDER DECIMAL(15,5)
DECLARE @TOTAL_HOURS_ORDER INT  
DECLARE @TOTAL_MIN_ORDER INT
DECLARE @TOTAL_ORDER VARCHAR(10)  
                   
SELECT @TOTAL_TIME_ORDER = WO_LABOUR_HOURS  FROM TBL_WO_LABOUR_DETAIL WHERE ID_WOLAB_SEQ = @ID_WOLAB_SEQ  
 
 SELECT @TOTAL_HOURS_ORDER = CONVERT(INT,@TOTAL_TIME_ORDER)  
SELECT @TOTAL_MIN_ORDER = CONVERT(INT,(@TOTAL_TIME_ORDER - CONVERT(INT,@TOTAL_TIME_ORDER)) * 60) 

IF @TOTAL_MIN_ORDER < 10  
  SET @TOTAL_ORDER = CONVERT(VARCHAR(10),@TOTAL_HOURS_ORDER) + ':0'+ CONVERT(VARCHAR(10),@TOTAL_MIN_ORDER)  
ELSE  
  SET @TOTAL_ORDER = CONVERT(VARCHAR(10),@TOTAL_HOURS_ORDER) + ':'+ CONVERT(VARCHAR(10),@TOTAL_MIN_ORDER) 
  
  SELECT  @TOTAL_ORDER AS 'WO_LABOUR_HOURS' 
   
         
END 
GO
