/****** Object:  StoredProcedure [dbo].[USP_SAVE_ENVFEESETTINGS]    Script Date: 5/12/2017 3:29:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SAVE_ENVFEESETTINGS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_SAVE_ENVFEESETTINGS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_ENVFEESETTINGS]    Script Date: 5/12/2017 3:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SAVE_ENVFEESETTINGS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SAVE_ENVFEESETTINGS] AS' 
END
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: 22/01/2013  
-- Description:To Save EnvironmentFee Settings  
-- =============================================  
ALTER PROCEDURE [dbo].[USP_SAVE_ENVFEESETTINGS]    
@ID_ITEM VARCHAR(50),  
@FLG_ENVFEE BIT,  
@MIN_AMT DECIMAL(13,2),  
@MAX_AMT DECIMAL(13,2),  
@ADDED_FEE_PERCENTAGE INT,  
@NAME VARCHAR(50),  
@VAT_CODE VARCHAR(10),  
@FLG_RETURN    VARCHAR(20) OUTPUT ,  
@CREATED_BY VARCHAR(10),  
@ID_MAKE VARCHAR(10),  -- Supplier Current No SUPP_CURRENTNO
@ID_WAREHOUSE INT  
--,@DEP INT  
  
AS  
BEGIN  
  DECLARE @DEP_Id INT  
 SELECT @DEP_Id=ID_Dept from TBL_MAS_DEPT where ID_Dept IN(SELECT ID_Dept_User from TBL_MAS_USERS   
 WHERE ID_Login=@CREATED_BY)  
IF NOT EXISTS(SELECT ID_ITEM FROM TBL_MAS_ENVFEESETTINGS WHERE ID_ITEM=@ID_ITEM AND SUPP_CURRENTNO=@ID_MAKE AND ID_WAREHOUSE=@ID_WAREHOUSE )  
BEGIN  
INSERT INTO TBL_MAS_ENVFEESETTINGS  
(  
ID_ITEM,  
FLG_ENVFEE,  
MIN_AMT,  
MAX_AMT,  
ADDED_FEE_PERCENTAGE,  
NAME,  
VAT_CODE,  
Created_By,  
DT_Created,  
ID_MAKE,  
ID_WAREHOUSE,
SUPP_CURRENTNO  
--,ID_DEPARTMENT  
  
)  
VALUES  
(  
@ID_ITEM,  
@FLG_ENVFEE,  
@MIN_AMT,  
@MAX_AMT,  
@ADDED_FEE_PERCENTAGE,  
@NAME,  
@VAT_CODE,  
@CREATED_BY,  
GETDATE(),  
@ID_MAKE ,  --SUPP_CURRENTNO
@ID_WAREHOUSE,
@ID_MAKE -- SUPP_CURRENTNO   
--,@DEP  
  
)  
SET @FLG_RETURN = 'INS'  
END  
ELSE  
BEGIN  
UPDATE TBL_MAS_ENVFEESETTINGS SET  
FLG_ENVFEE=@FLG_ENVFEE,  
MIN_AMT=@MIN_AMT,  
MAX_AMT=@MAX_AMT,  
ADDED_FEE_PERCENTAGE=@ADDED_FEE_PERCENTAGE,  
VAT_CODE=@VAT_CODE,  
ID_MAKE=@ID_MAKE,  
ID_WAREHOUSE=@ID_WAREHOUSE,  
--ID_DEPARTMENT=@DEP,  
Modified_By=@CREATED_BY,  
DT_Modified=GETDATE(),
SUPP_CURRENTNO = @ID_MAKE  
WHERE ID_ITEM=@ID_ITEM AND SUPP_CURRENTNO=@ID_MAKE AND ID_WAREHOUSE=@ID_WAREHOUSE  
--AND ID_DEPARTMENT=@DEP  
SET @FLG_RETURN = 'UDP'  
END  
  
END  

GO
