/****** Object:  StoredProcedure [dbo].[USP_WO_HEADER_LOAD]    Script Date: 9/22/2017 4:00:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_WO_HEADER_LOAD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_WO_HEADER_LOAD]
GO
/****** Object:  StoredProcedure [dbo].[USP_WO_HEADER_LOAD]    Script Date: 9/22/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_WO_HEADER_LOAD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_WO_HEADER_LOAD] AS' 
END
GO
ALTER PROCEDURE [dbo].[USP_WO_HEADER_LOAD]        
AS        
BEGIN            
  -------------            
        
 SELECT 'ORD' AS ID_SETTINGS,'ORDER' AS DESCRIPTION,CONVERT(CHAR(10),GETDATE(),101) AS CDATE                   
 UNION                
 SELECT 'BAR' AS ID_SETTINGS,'BARGAIN' AS DESCRIPTION,CONVERT(CHAR(10),GETDATE(),101) AS CDATE     
 UNION                
 SELECT 'CRSL' AS ID_SETTINGS,'CAR SALE' AS DESCRIPTION,CONVERT(CHAR(10),GETDATE(),101) AS CDATE  
 UNION
 SELECT 'KRE' AS ID_SETTINGS,'CREDIT NOTE' AS DESCRIPTION,CONVERT(CHAR(10),GETDATE(),101) AS CDATE    
     
       
   --EXEC USP_CONFIG_SETTINGS_FETCH 'WO-STATUS'             
              
 SELECT 'BAR' AS ID_SETTINGS,'BARGAIN' AS DESCRIPTION                
 UNION              
 SELECT 'RES' AS ID_SETTINGS,'RESERVATION' AS DESCRIPTION            
 UNION            
 SELECT 'CSA' AS ID_SETTINGS,'IN PROCESS' AS DESCRIPTION            
 UNION            
 SELECT 'INV' AS ID_SETTINGS,'INVOICED' AS DESCRIPTION                 
 UNION                
 SELECT 'DEL' AS ID_SETTINGS,'DELETED' AS DESCRIPTION                 
 UNION                
 SELECT 'PINV' AS ID_SETTINGS,'PARTIAL INVOICED' AS DESCRIPTION                
 UNION                
 SELECT 'RINV' AS ID_SETTINGS,'READY TO INVOICE' AS DESCRIPTION      
 UNION    
 SELECT 'RWRK' AS ID_SETTINGS,'READY FOR WORK' AS DESCRIPTION       
 UNION    
 SELECT 'STR' AS ID_SETTINGS,'STORAGE' AS DESCRIPTION       
 UNION    
 SELECT 'CON' AS ID_SETTINGS,'CONTRACT' AS DESCRIPTION               
                  
  --FETCHING CUSTOMER              
--BUG ID:-SS2_421            
--DATE:-04-JUNE-2008          
--DESC:- Phone,Add and ZipCode should be also used as search          
-- SELECT ID_CUSTOMER AS ID_CUST,            
--   CUST_NAME,ID_CUST_GRP_SEQ,CUSG_DESCRIPTION, ID_CUSTOMER + '-' + CUST_NAME CUSTDESC            
-- FROM TBL_MAS_CUSTOMER CUSTOMER             
-- JOIN TBL_MAS_CUST_GROUP CGROUP                
-- ON CUSTOMER.FLG_CUST_INACTIVE='FALSE'                
-- AND CUSTOMER.ID_CUST_GROUP = CGROUP.ID_CUST_GRP_SEQ             
 SELECT ID_CUSTOMER AS ID_CUST,            
   CUST_NAME,ID_CUST_GRP_SEQ,CUSG_DESCRIPTION, ID_CUSTOMER + '-' + CUST_NAME CUSTDESC,          
CUST_PHONE_OFF as OFF_PHONE,          
CUST_PHONE_HOME as HOME_PHONE,          
CUST_PHONE_MOBILE as MOBILE_PHONE,          
CUST_PERM_ADD1 as PERM_ADD1,          
CUST_PERM_ADD2 as PERM_ADD2,          
CUST_BILL_ADD1 AS BILL_ADD1,          
CUST_BILL_ADD2 AS BILL_ADD2,          
ZIP_ZIPCODE AS ZIPCODE           
--CHANGE END          
 FROM TBL_MAS_CUSTOMER CUSTOMER             
 JOIN TBL_MAS_CUST_GROUP CGROUP                
 ON CUSTOMER.FLG_CUST_INACTIVE='FALSE'                
 AND CUSTOMER.ID_CUST_GROUP = CGROUP.ID_CUST_GRP_SEQ                
  LEFT JOIN TBL_MAS_ZIPCODE ZIPCODE          
ON CUSTOMER.ID_CUST_PERM_ZIPCODE=ZIPCODE.ZIP_ZIPCODE        
ORDER BY CUSTOMER.CUST_NAME --NEW CHANGE 3-NOV-14    
--CHANGE ON 16-jUNE-2008 AS ONE CUST DISPLAYING TWICE         
 --OR                  
--CHANGE END        
  --FETCHING VEHICLE                 
 SELECT                 
 ID_VEH_SEQ,                
 VEH_REG_NO,                 
 VEH_INTERN_NO,                
 VEH_VIN,                
 ID_MAKE_VEH,                
 ID_MODEL_VEH,                
 CASE WHEN ID_MAKE_VEH IS NOT NULL  THEN                
 (SELECT ISNULL(ID_MAKE + '   -   ' + ID_MAKE_NAME,'') FROM TBL_MAS_MAKE                 
 WHERE ID_MAKE = TBL_MAS_VEHICLE.ID_MAKE_VEH)                
 ELSE ''                
 END AS MAKE,                
 CASE WHEN  ID_MODEL_VEH IS NOT NULL THEN                
 (SELECT ISNULL(ID_MODEL,'') FROM TBL_MAS_MODEL_MAKE_MAP                 
 WHERE ID_MODEL = TBL_MAS_VEHICLE.ID_MODEL_VEH)                
 ELSE ''                
 END AS MODEL,                
 ISNULL(VEH_REG_NO,'')+ '-' +ISNULL(VEH_INTERN_NO,'') + '-' + ISNULL(VEH_VIN,'')  VEH_DET    ,    
 PICK,    
 VAN_NUM             
 FROM TBL_MAS_VEHICLE                
 EXEC USP_CONFIG_ZIP_FETCH ''                 
              
  SELECT ISNULL(DESCRIPTION,'') DESCRIPTION,ID_SETTINGS                 
  FROM  TBL_MAS_SETTINGS                
  WHERE ID_CONFIG='PAYTYPE'      
 --AND (UPPER(DESCRIPTION)='CREDIT' OR UPPER(DESCRIPTION)='CASH')               
  --SELECT ID_MAKE AS ID_MAKE_VEH  ,ID_MAKE_NAME As MAKE FROM TBL_MAS_MAKE      
      
  SELECT MAKE_CODE_GOVT AS ID_MAKE_VEH, DESC_GOVT AS MAKE FROM TBL_MAP_MAKE_GOVT_ABS ORDER BY DESC_GOVT          
              
  SELECT ID_CUST_GRP_SEQ,CUSG_DESCRIPTION FROM TBL_MAS_CUST_GROUP              
            
 SELECT ID_PT_SEQ ID_SETTINGS,CAST(TERMS AS VARCHAR) + ' - ' + DESCRIPTION  DESCRIPTION                  
 FROM TBL_MAS_CUST_PAYTERMS                 
            
EXEC usp_MAS_CUST_GROUP         
    
 --762    
 DECLARE @INTERNAL_NOTE VARCHAR(10)    
 SELECT @INTERNAL_NOTE = ISNULL(DESCRIPTION,'FALSE') FROM TBL_MAS_SETTINGS WHERE ID_CONFIG='INT-NOTE'     
 SELECT @INTERNAL_NOTE AS FLG_DISP_INT_NOTE -- FLAG on General Settings page    
     
 SELECT ID_SETTINGS As ID_MODEL, DESCRIPTION AS MODEL_DESC FROM TBL_MAS_SETTINGS WHERE ID_CONFIG = 'MODEL'    
     
     
     
END 
GO
