/****** Object:  StoredProcedure [dbo].[USP_REP_WOHEAD_PICKINGLIST]    Script Date: 9/4/2017 5:31:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_REP_WOHEAD_PICKINGLIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_REP_WOHEAD_PICKINGLIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_WOHEAD_PICKINGLIST]    Script Date: 9/4/2017 5:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_REP_WOHEAD_PICKINGLIST]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_REP_WOHEAD_PICKINGLIST] AS' 
END
GO
  
-- ===================================================================================================        
-- Author:       
-- Create date:     
-- Description: This procedure is used to fetch Spare Part Details for all the jobs  
-- ===================================================================================================        
    
ALTER PROCEDURE [dbo].[USP_REP_WOHEAD_PICKINGLIST]         
 @ID_WO_NO VARCHAR(10) ,    
 @ID_WO_PREFIX VARCHAR(3),  
 @IV_XMLDOC   NTEXT = NULL,  
 @IV_Lang VARCHAR(30)  
   
AS        
BEGIN      
  
 DECLARE @DOCHANDLE   INT                                     
 DECLARE @CONFIGLISTCNI AS VARCHAR(2000)                                    
 DECLARE @CFGLSTINSERTED AS VARCHAR(2000)         
 DECLARE @SortByLoc as   VARCHAR(50)                               
 --EXEC SP_XML_PREPAREDOCUMENT @DOCHANDLE OUTPUT, @IV_XMLDOC    
  
DECLARE @LANG INT    
SELECT @LANG=ID_LANG FROM TBL_MAS_LANGUAGE WHERE LANG_NAME=@iv_Lang  
  
DECLARE @Y AS VARCHAR(50)  
SELECT @Y=ERR_DESC FROM TBL_MAS_ERR_MESSAGE WHERE ID_LANG=@LANG AND ERR_ID='D_YES' AND ISDATA=1  
  
DECLARE @N AS VARCHAR(50)  
SELECT @N=ERR_DESC FROM TBL_MAS_ERR_MESSAGE WHERE ID_LANG=@LANG AND ERR_ID='D_NO' AND ISDATA=1    
  
SELECT @SortByLoc = isnull(DESCRIPTION,'False') FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='SORTBYLOC'  
  
  
DECLARE @INSERT_LIST TABLE                                    
 (             
  ID_JOB INT,                         
  ID_WAREHOUSE    INT,                                  
  ID_MAKE_JOB    VARCHAR(10),                                  
  ID_ITEM_CATG_JOB   VARCHAR(10),              
  JOBI_ORDER_QTY   DECIMAL(13,2),                                  
  ID_ITEM_JOB    VARCHAR(30),   
  ITEM_DESC VARCHAR(100),                                 
  JOBI_DELIVER_QTY   DECIMAL(13,2),  
  JOB_SPARES_ACCOUNTCODE VARCHAR(20),                         
  JOB_VAT     VARCHAR(10),  
  ID_WO_NO VARCHAR(20),  
  ID_WO_PREFIX VARCHAR(20),  
  PICKINGLIST_PREV_PRINTED BIT,  
  PREV_PICKED DECIMAL(13,2),  
  TOBE_PICKED DECIMAL(13,2),  
  STOCK_QTY DECIMAL(15,2)  
)  
  
INSERT INTO @INSERT_LIST   
SELECT ID_JOB,ID_WAREHOUSE,ID_MAKE_JOB,ID_ITEM_CATG_JOB,JOBI_ORDER_QTY,ID_ITEM_JOB,ITEM_DESC,JOBI_DELIVER_QTY,  
NULL, NULL,@ID_WO_NO,@ID_WO_PREFIX,  
CASE WHEN (JOBI_DELIVER_QTY  = PICKINGLIST_PREV_PICKED) THEN 1 ELSE 0 END AS PICKINGLIST_PREV_PRINTED,  
PICKINGLIST_PREV_PICKED,(JOBI_DELIVER_QTY - PICKINGLIST_PREV_PICKED),0   
FROM TBL_WO_JOB_DETAIL JOD   
INNER JOIN TBL_WO_DETAIL WOD ON JOD.ID_WO_NO = WOD.ID_WO_NO AND JOD.ID_WO_PREFIX = WOD.ID_WO_PREFIX  
WHERE WOD.ID_WODET_SEQ = JOD.ID_WODET_SEQ_JOB AND WOD.ID_WO_NO = @ID_WO_NO AND WOD.ID_WO_PREFIX = @ID_WO_PREFIX  
AND WOD.JOB_STATUS <> 'DEL'  
   
/*  
 SELECT * FROM TBL_WO_JOB_DETAIL JOD   
 INNER JOIN TBL_WO_DETAIL WOD ON JOD.ID_WO_NO = WOD.ID_WO_NO AND JOD.ID_WO_PREFIX = WOD.ID_WO_PREFIX  
 WHERE WOD.ID_WODET_SEQ = JOD.ID_WODET_SEQ_JOB AND WOD.ID_WO_NO=54747 AND WOD.ID_WO_PREFIX='V44'  
 AND WOD.JOB_STATUS <> 'DEL'  
*/   
  
--FROM OPENXML (@docHandle,'root/insert',1) with                                     
-- (                      
--  ID_WAREHOUSE   INT,                                    
--  ID_MAKE_JOB   VARCHAR(10),                                  
--  ID_ITEM_CATG_JOB  VARCHAR(10),                 
--  JOBI_ORDER_QTY  DECIMAL(13,2),                                  
--  ID_ITEM_JOB   VARCHAR(30),   
--  ITEM_DESC VARCHAR(100),                                 
--  JOBI_DELIVER_QTY  DECIMAL(13,2),  
--  JOB_VAT  VARCHAR(20) ,                      
--  JOB_SPARES_ACCOUNTCODE VARCHAR(20),  
--  ID_WO_NO VARCHAR(20),  
--  ID_WO_PREFIX VARCHAR(20),  
--  PICKINGLIST_PREV_PRINTED BIT  
--)  
  
 --EXEC SP_XML_REMOVEDOCUMENT @docHandle
 
 --select * from @INSERT_LIST    
  
 UPDATE @INSERT_LIST                                  
 SET ID_ITEM_CATG_JOB = CATG.ID_ITEM_CATG ,                   
 JOB_SPARES_ACCOUNTCODE = CATG.ACCOUNTCODE,  
 STOCK_QTY = MAS.ITEM_AVAIL_QTY,                     
  JOB_VAT = VATCODE                                                
 FROM                     
  TBL_MAS_ITEM_MASTER MAS,                          
  @INSERT_LIST TEMP,TBL_MAS_ITEM_CATG CATG                                 
 WHERE                     
  MAS.ID_ITEM=TEMP.ID_ITEM_JOB                     
  AND MAS.ID_MAKE=TEMP.ID_MAKE_JOB                     
  AND MAS.ID_WH_ITEM= TEMP.ID_WAREHOUSE                    
  AND CATG.ID_ITEM_CATG=MAS.ID_ITEM_CATG     
  
  
IF @SortByLoc ='True'  
 BEGIN  
   SELECT   
    JD.ID_JOB AS 'JOBNO',  
    MAS.ID_ITEM AS 'SPAREPARTNO',    
    JD.ITEM_DESC AS 'SPAREPARTNAME',    
    JD.JOBI_ORDER_QTY AS 'ORDEREDQTY',  
    JD.JOBI_DELIVER_QTY AS 'DELIVEREDQTY',  
    MAS.LOCATION AS 'LOCATION',  
    --CASE WHEN ((JD.JOBI_ORDER_QTY = JD.JOBI_DELIVER_QTY) AND ((JD.JOBI_ORDER_QTY - JD.JOBI_DELIVER_QTY)=0 ))THEN @Y   
    CASE WHEN (JD.JOBI_ORDER_QTY = JD.PREV_PICKED)THEN @Y   
    ELSE @N END AS 'PREVIOUSPRINTED',  
    WO_ANNOT AS 'ANNOTATION',  
    DT_ORDER AS 'ORDERDATE',  
    wh.CREATED_BY AS 'DISPATCHBY',  
    PREV_PICKED,  
    TOBE_PICKED,  
    JD.STOCK_QTY  
   FROM   
    @INSERT_LIST JD   
    LEFT JOIN TBL_MAS_MAKE MAKE ON MAKE.ID_MAKE = JD.ID_MAKE_JOB    
    LEFT JOIN TBL_MAS_ITEM_MASTER MAS ON MAS.ID_ITEM = JD.ID_ITEM_JOB     
    AND MAS.ID_WH_ITEM = JD.ID_WAREHOUSE   
    --AND MAS.ID_MAKE = JD.ID_MAKE_JOB   
    AND MAS.SUPP_CURRENTNO = JD.ID_MAKE_JOB   
    LEFT JOIN TBL_MAS_ITEM_CATG CATG ON CATG.ID_ITEM_CATG = JD.ID_ITEM_CATG_JOB        
    JOIN TBL_WO_HEADER wh ON JD.ID_WO_NO = wh.ID_WO_NO AND JD.ID_WO_PREFIX = wh.ID_WO_PREFIX  
   WHERE JD.ID_WO_NO=@ID_WO_NO AND JD.ID_WO_PREFIX=@ID_WO_PREFIX  
   ORDER BY MAS.LOCATION  
 END  
ELSE  
 BEGIN  
   SELECT   
    JD.ID_JOB AS 'JOBNO',  
    MAS.ID_ITEM AS 'SPAREPARTNO',    
    JD.ITEM_DESC AS 'SPAREPARTNAME',    
    JD.JOBI_ORDER_QTY AS 'ORDEREDQTY',  
    JD.JOBI_DELIVER_QTY AS 'DELIVEREDQTY',  
    MAS.LOCATION AS 'LOCATION',  
    --CASE WHEN ((JD.JOBI_ORDER_QTY = JD.JOBI_DELIVER_QTY) AND ((JD.JOBI_ORDER_QTY - JD.JOBI_DELIVER_QTY)=0 ))THEN @Y   
    CASE WHEN (JD.JOBI_ORDER_QTY = JD.PREV_PICKED)THEN @Y   
    ELSE @N END AS 'PREVIOUSPRINTED',  
    WO_ANNOT AS 'ANNOTATION',  
    DT_ORDER AS 'ORDERDATE',  
    wh.CREATED_BY AS 'DISPATCHBY',  
    PREV_PICKED,  
    TOBE_PICKED,  
    JD.STOCK_QTY  
   FROM   
    @INSERT_LIST JD   
    LEFT JOIN TBL_MAS_MAKE MAKE ON MAKE.ID_MAKE = JD.ID_MAKE_JOB    
    LEFT JOIN TBL_MAS_ITEM_MASTER MAS ON MAS.ID_ITEM = JD.ID_ITEM_JOB     
    AND MAS.ID_WH_ITEM = JD.ID_WAREHOUSE   
    --AND MAS.ID_MAKE = JD.ID_MAKE_JOB 
     AND MAS.SUPP_CURRENTNO = JD.ID_MAKE_JOB     
    LEFT JOIN TBL_MAS_ITEM_CATG CATG ON CATG.ID_ITEM_CATG = JD.ID_ITEM_CATG_JOB        
    JOIN TBL_WO_HEADER wh ON JD.ID_WO_NO = wh.ID_WO_NO AND JD.ID_WO_PREFIX = wh.ID_WO_PREFIX  
   WHERE JD.ID_WO_NO=@ID_WO_NO AND JD.ID_WO_PREFIX=@ID_WO_PREFIX  
   ORDER BY MAS.ID_ITEM  
 END  
  
  
END        
     
GO
