/****** Object:  StoredProcedure [dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]    Script Date: 06/07/2016 15:51:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]
GO
/****** Object:  StoredProcedure [dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]    Script Date: 06/07/2016 15:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_INVSETTINGS_FETCH_PAYTYPE]                
AS
BEGIN 

	SELECT  CAST ([ID_SETTINGS] AS INT) AS ID_SETTINGS ,[DESCRIPTION]                    
	FROM [dbo].[TBL_MAS_SETTINGS]                
	WHERE  ID_CONFIG= ''PAYTYPE''  and DESCRIPTION <> ''''              
	AND ID_SETTINGS NOT IN (SELECT MINV.ID_SETTINGS FROM TBL_MAS_INV_NUMBER_CFG MINV)
 
 END' 
END
GO
