USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_SETSTATUS_POITEMS]    Script Date: 31.01.2018 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
ALTER PROCEDURE [dbo].[USP_SPR_PO_SETSTATUS_POITEMS]  
(  
	
	@USER VARCHAR(50), /*CURRENT USER WHO CREATES*/

	@PONUMBER VARCHAR(50)
	               	 		 
) 
AS  
  
BEGIN  

	UPDATE TBL_SPR_PO_HEADER

	SET 
	STATUS = 1

	WHERE NUMBER = @PONUMBER;

		

END