USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_CREATE_POHEADER]    Script Date: 31.01.2018 13:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
ALTER PROCEDURE [dbo].[USP_SPR_PO_CREATE_POHEADER]  
(  
	
	@USER VARCHAR(50), /*CURRENT USER WHO CREATES/UPDATES*/

	@PREFIX VARCHAR(50),
	@NUMBER VARCHAR(50),
	@ID_ORDERTYPE VARCHAR(50),
	@SUPP_CURRENTNO VARCHAR(50),
	@ID_DEPT INT,
	@ID_WAREHOUSE INT,
	@DT_CREATED_SIMPLE INT,
	@DT_EXPECTED_DELIVERY BIGINT,
	@DELIVERY_METHOD INT,
	@STATUS BIT,                        /* 0 is PO suggestion. 1 means PO order sent*/
	@FINISHED BIT,                          /*0 means some items are still not delivered. 1 means all items on po are delivered and the PO is finished/confirmed*/
	@ANNOTATION VARCHAR(150)
	 		 
) 
AS  
  
BEGIN  

	
	DECLARE @ID_PO_CONFIG INT
	DECLARE @SUPP_NAME VARCHAR(150) 	
	SET @ID_PO_CONFIG = (SELECT TOP 1 ID_POCONFIG FROM TBL_SPR_POCONFIG WHERE ID_WAREHOUSE = @ID_WAREHOUSE AND ID_DEPT = @ID_DEPT ORDER BY ID_POCONFIG DESC)
	SET @SUPP_NAME = (SELECT TOP 1 SUP_Name FROM TBL_MAS_SUPPLIER WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO)

	INSERT INTO [TBL_SPR_PO_HEADER]  
	(  
	 PREFIX ,
	 NUMBER ,
	 ID_ORDERTYPE,
	 SUPP_CURRENTNO ,
	 SUPP_NAME,
	 ID_DEPT ,
	 ID_WAREHOUSE ,
	 CREATED_BY,
	 DT_CREATED,
	 DT_CREATED_SIMPLE,
	 MODIFIED_BY,
	 DT_MODIFIED,
	 DT_EXPECTED_DELIVERY,
	 DELIVERY_METHOD ,
	 STATUS,
	 FINISHED ,
	 ANNOTATION 
	  
	 
		 
	)  
	VALUES  
	(  
	@PREFIX ,
	@NUMBER ,
	@ID_ORDERTYPE,
	@SUPP_CURRENTNO ,
	@SUPP_NAME,
	@ID_DEPT ,
	@ID_WAREHOUSE ,
	@USER,
	GETDATE() ,
	@DT_CREATED_SIMPLE,
	NULL,
	NULL ,
	@DT_EXPECTED_DELIVERY ,
	@DELIVERY_METHOD,
	@STATUS,
	@FINISHED,
	@ANNOTATION
	
	)  

	
	
	BEGIN  	 					
		EXEC USP_SPR_UPDATE_CURNO_CONFIGPO @ID_PO_CONFIG  	  
	END 

END