GO
/****** Object:  StoredProcedure [dbo].[USP_RPT_HOURS_PER_MECHANIC_REPORT]    Script Date: 12/7/2017 8:49:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--'*********************************************************************************'*********************************                
--'* MODIFIED Date   : 07th January 2009    
--   Bug Description : ABS10_queries_31Dec08 - Row No 3 - Invoice Ratio2 formula has changed    
--'*********************************************************************************'*********************************        
    
  -- ***********************************  
-- Modified Date : 10th February 2009  
-- Bug Id      : Report_9_feb Issues  
-- Description  : Dt_created should be taken from TBL_TR_JOB_ACTUAL not from tbl_wo_detil  

  -- ***********************************  
-- Modified Date : 30th May 2013 
-- Bug Id        : 614  
-- Description   : Added 2 new fields for Hours Per Mechanic report.
				-- Corrected the calculation of charged time as well to include lunch time

  
ALTER PROCEDURE [dbo].[USP_RPT_HOURS_PER_MECHANIC_REPORT]      
(      
 @IV_DEP_FROM  AS VARCHAR(50),      
 @IV_DEP_TO   AS VARCHAR(50),      
 @IV_YEAR   AS VARCHAR(4),      
 @IV_MONTH_FROM  AS VARCHAR(2),      
 @IV_MONTH_TO  AS VARCHAR(2),      
 @IV_MECH_CODE_FROM AS VARCHAR(20),      
 @IV_MECH_CODE_TO AS VARCHAR(20),      
 @IV_LANGUAGE  AS VARCHAR(50),
 @IV_INV_ORDER AS BIT,
 @IV_NINV_ORDER  AS BIT      
       
)      
AS      
BEGIN        

 IF (@IV_DEP_FROM IS NULL )
 SET @IV_DEP_FROM =''
 IF (@IV_DEP_TO IS NULL )
 SET @IV_DEP_TO =''
 IF (@IV_YEAR IS NULL )
 SET @IV_YEAR =''
 IF (@IV_MONTH_FROM IS NULL )
 SET @IV_MONTH_FROM =''
 IF (@IV_MONTH_TO IS NULL )
 SET @IV_MONTH_TO =''
 IF (@IV_MECH_CODE_FROM IS NULL )
 SET @IV_MECH_CODE_FROM =''
 IF (@IV_MECH_CODE_TO IS NULL )
 SET @IV_MECH_CODE_TO =''
 IF (@IV_LANGUAGE IS NULL )
 SET @IV_LANGUAGE =''
 IF (@IV_INV_ORDER IS NULL )
 SET @IV_INV_ORDER = 1

 DECLARE @QRY11 AS VARCHAR(MAX) 
 DECLARE @QRY12 AS VARCHAR(MAX) 
 DECLARE @QRY13 AS VARCHAR(MAX) 
 DECLARE @QRY14 AS VARCHAR(MAX) 
 DECLARE @QRY15 AS VARCHAR(MAX)  
 DECLARE @QRY1 AS VARCHAR(MAX)      
 DECLARE @QRY2 AS VARCHAR(MAX)      
 DECLARE @MAINQRY AS VARCHAR(MAX)      
 DECLARE @EXECSTRING AS VARCHAR(MAX)  
 
 DECLARE @FromDate DATETIME
 DECLARE @ToDate DATETIME
 DECLARE @DEN DECIMAL(6,2)
 SET @DEN=60

-- Added for displaying the period ( from date  and to date ) in the report
DECLARE @FROMYEAR VARCHAR(4) 
DECLARE @TOYEAR VARCHAR(4) 
DECLARE @FROMMONTH VARCHAR(2) 
DECLARE @TOMONTH VARCHAR(2) 

SET @FROMYEAR = @IV_YEAR
SET @TOYEAR = @IV_YEAR
SET @FROMMONTH = @IV_MONTH_FROM
SET @TOMONTH = @IV_MONTH_TO

IF @IV_YEAR <>'' AND @IV_MONTH_FROM  <>'' AND  @IV_MONTH_TO  <>''
BEGIN
	SET @fromDate = @frommonth +'/'+'01'+'/'+ @fromyear
	SET @toDate = @tomonth +'/'+'01'+'/'+ @toyear
	SELECT @toDate = DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,@toDate)+1,0))
END

IF @IV_YEAR  <>'' AND  @IV_MONTH_FROM ='' AND  @IV_MONTH_TO =''
BEGIN
--Start of the year to end of the year
SET @frommonth = '1'
SET @tomonth = DATEPART(mm,GETDATE())
	SET @fromDate = @frommonth +'/'+'01'+'/'+ @fromyear
	SET @toDate = @tomonth +'/'+'01'+'/'+ @toyear
	SELECT @toDate = DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,@toDate)+1,0))
END

IF @IV_YEAR ='' AND  @IV_MONTH_FROM <>'' AND  @IV_MONTH_TO <>''
BEGIN
--Start of the year to end of the year
--select 1
SELECT TOP 1 @fromyear =DATEPART(yyyy,DT_ORDER)  FROM TBL_WO_HEADER ORDER BY DT_ORDER asc
SET @toyear = DATEPART(yyyy,GETDATE())

	SET @FROMDATE = @FROMMONTH +'/'+'01'+'/'+ @FROMYEAR
	SET @TODATE = @TOMONTH +'/'+'01'+'/'+ @TOYEAR
	SELECT @TODATE = DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TODATE)+1,0))
END

IF @IV_YEAR ='' AND  @IV_MONTH_FROM ='' AND  @IV_MONTH_TO =''
BEGIN
--Start of the year to end of the year
SELECT TOP 1 @FROMYEAR =DATEPART(YYYY,DT_ORDER) FROM TBL_WO_HEADER ORDER BY DT_ORDER ASC
SET @TOYEAR = DATEPART(YYYY,GETDATE())
SET @FROMMONTH = '1'
SET @TOMONTH = DATEPART(MM,GETDATE())

	SET @FROMDATE = @FROMMONTH +'/'+'01'+'/'+ @FROMYEAR
	SET @TODATE = @TOMONTH +'/'+'01'+'/'+ @TOYEAR
	SELECT @TODATE = DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TODATE)+1,0))
END

 
/*START NEW SCRIPT--------------------------------*/

 ---- CONDITION FOR DEPARTMENT  
 IF @IV_DEP_FROM = '' 
 SET @IV_DEP_FROM = (SELECT MIN(DPT_Name) FROM TBL_MAS_DEPT)
 
 IF @IV_DEP_TO = '' 
 SET @IV_DEP_TO = (SELECT MAX(DPT_Name) FROM TBL_MAS_DEPT)
 
-- CONDITION FOR MONTH 
 IF @IV_MONTH_FROM = '' 
 SET @IV_DEP_FROM = '1'
 
 IF @IV_MONTH_TO = '' 
 SET @IV_MONTH_TO = '12'


-- CONDITION FOR YEAR  
IF @IV_YEAR = '' 
SET @IV_YEAR = (SELECT MIN(YEAR(DT_CLOCK_IN)) FROM TBL_TR_JOB_ACTUAL)

---- CONDITION FOR MECH_CODE  
 IF @IV_MECH_CODE_FROM = '' 
 SET @IV_MECH_CODE_FROM = (SELECT MIN(ID_LOGIN) FROM TBL_MAS_USERS WHERE Flg_Mechanic=1)
 
 IF @IV_MECH_CODE_TO = '' 
 SET @IV_MECH_CODE_TO = (SELECT MAX(ID_LOGIN) FROM TBL_MAS_USERS WHERE Flg_Mechanic=1)
 
 
SELECT T1.ID_WO_NO,T1.ID_WO_PREFIX,T1.ID_JOB,T1.ID_UNSOLD_TIME,T1.ID_MEC_TR,
	--Commented during the ROW 614
	--CASE WHEN (t2.ID_JOB IS NOT NULL) AND (SELECT JOB_STATUS FROM TBL_WO_DETAIL WHERE ID_WO_PREFIX + ID_WO_NO = t1.ID_WO_PREFIX + t1.ID_WO_NO AND ID_JOB = t1.ID_JOB) = 'INV' THEN 
	--		(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0	)/60
	--	ELSE
			CASE WHEN CONVERT(VARCHAR(5),ISNULL((SELECT LUNCH_WITHDRAW FROM TBL_MAS_DEPT WHERE ID_DEPT IN (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),0)) = 1 THEN   
				CASE WHEN  ID_SHIFT_NO IS NOT NULL THEN     
					CASE WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)) OR 
							((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)))) 
						THEN
							(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0	)/60
					ELSE
						CASE WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)) 
							AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))
							AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) <= (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))) 
						THEN
						
							(cast(replace(dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + ' ' 
							+ (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS 
										WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)))	,':','.')
								as decimal(20,2)))	
						WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))
							AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) < (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))) 
						THEN
								--'00:00'
							cast(replace('00:00',':','.')as decimal(20,2))	
								
						WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))
							AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))) 
						THEN
								(cast(replace(dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),t1.DT_CLOCK_IN,101) + ' ' +  (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)),t1.DT_CLOCK_OUT),':','.')as decimal(20,2))*60.0)/60
						
						WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) < (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)) 
							AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) > (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))) 
						THEN
								(cast(replace(DBO.[FNADDMINS](dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + ' ' +  (SELECT  START_LUNCH_HR + ':' + START_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO))) ,  
								dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + ' ' +  (SELECT  CLOSE_LUNCH_HR + ':' + CLOSE_LUNCH_MIN FROM TBL_MAS_SHIFT_DETAILS WHERE ID_SHIFT_NO = t1.ID_SHIFT_NO)),t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))	*60.0)/60
						ELSE
							--dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)
							(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0)/60
						END 	
					END
				ELSE 
					CASE WHEN (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')) <> '0' AND  ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0') <> '0' THEN 
						CASE WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) < (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) OR 
							((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) > (ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))))) 
						THEN
								--dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)
								(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0)/60
						ELSE
							CASE WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) < (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8)) > (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')) AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8)) <= (ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) 
							THEN
								(cast(replace(dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),t1.DT_CLOCK_IN,101) + ' '+(ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))))	,':','.')as decimal(20,2))*60.0	)/60	
							
							WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) > (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) < (ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')))) 
							THEN
								--'00:00'
								cast(replace('00:00',':','.')as decimal(20,2))	
							
							WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) > (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) > (ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')))) 
							THEN
								(cast(replace(dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),t1.DT_CLOCK_IN,101) + ' '+(ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))),t1.DT_CLOCK_OUT),':','.')as decimal(20,2))*60.0)/60			
							
							WHEN ((CONVERT(VARCHAR(5),t1.DT_CLOCK_IN,8) < (ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))) AND (CONVERT(VARCHAR(5),t1.DT_CLOCK_OUT,8) > (ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')))) 
							THEN
								(cast(replace(DBO.[FNADDMINS](dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),t1.DT_CLOCK_IN,101) + ' '+(ISNULL((SELECT FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0')))) ,  
								dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),t1.DT_CLOCK_IN,101) + ' '+(ISNULL((SELECT TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=T1.ID_MEC_TR)),'0'))),t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0)/60				
							ELSE
								--dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)
								(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0)/60
							END 
						END
					ELSE
							--dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT) 
							(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0)/60	
					END				
				END
			ELSE
				--dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)
				(cast(replace((dbo.[fnTimeDiff-New](t1.DT_CLOCK_IN,t1.DT_CLOCK_OUT)),':','.')as decimal(20,2))*60.0	)/60
			END
		--END
	 AS 'CLOCKED TIME'
  ,(CASE WHEN T1.ID_WO_NO IS NULL THEN CONVERT(VARCHAR(10),CONVERT(datetime,@ToDate,121),121) ELSE T1.DT_CLOCK_IN END) AS DT_CREATED
  ,CASE WHEN T1.ID_WO_NO IS NOT NULL THEN 
		CAST(T2.WO_TOT_LAB_AMT + T2.WO_TOT_SPARE_AMT + T2.WO_TOT_GM_AMT + T2.WO_TOT_VAT_AMT - T2.WO_TOT_DISC_AMT + T2.WO_FIXED_PRICE AS DECIMAL(20,2)) 
  END AS 'Total Sales'
  ,isnull(WLD.WO_HOURLEY_PRICE,0) AS 'Order Hourly Price'
  ,T2.WO_CHRG_TIME,T2.WO_STD_TIME,T2.WO_HOURLEY_PRICE AS 'TR Hourly Price',T2.FLG_CHRG_STD_TIME
  ,ISNULL(WLD.WO_LABOUR_HOURS,T1.[Clocked Time])*isnull(WLD.WO_HOURLEY_PRICE,0) AS 'ORDER SOLD AMOUNT'
  ,WO_CHRG_TIME*T2.WO_HOURLEY_PRICE AS 'CHARGED AMOUNT'
  ,ISNULL((SELECT SUM(LAB.WO_LABOUR_HOURS) FROM TBL_WO_LABOUR_DETAIL LAB WHERE ID_WODET_SEQ=T2.ID_WODET_SEQ),0) AS 'TOTAL CLOCKED TIME',
   CASE WHEN T2.FLG_CHRG_STD_TIME = 1 THEN ISNULL(T2.WO_HOURLEY_PRICE,0) 
   ELSE	ISNULL(WLD.WO_HOURLEY_PRICE,0) 
   END  AS 'WO Hourly Price' , T2.JOB_STATUS as 'WO_STATUS',
   CASE WHEN ((ISNUll(T2.WO_TOT_LAB_AMT_FP,0) > 0))  THEN 
   (T2.WO_TOT_LAB_AMT_FP/CAST(T2.WO_TOT_LAB_AMT_FP + ISNULL(T2.WO_TOT_SPARE_AMT_FP,0) + ISNULL(T2.WO_TOT_GM_AMT_FP,0) + ISNULL(T2.WO_TOT_VAT_AMT_FP,0)- ISNULL(T2.WO_TOT_DISC_AMT_FP,0) AS DECIMAL(20,2)))* 100
   ELSE
   0
   END 
   AS 'LAB PERCENTAGE',
    T2.WO_FIXED_PRICE AS 'FIXED PRICE',
    T2.WO_TOT_LAB_AMT_FP AS 'LAB AMT'
   --END
   
        
INTO #TMP_TABLE 
FROM 
	(SELECT  ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_MEC_TR,ID_UNSOLD_TIME, DT_CREATED,DT_CLOCK_IN,DT_CLOCK_OUT,ID_SHIFT_NO,
			CAST(sum((CONVERT(INT,SUBSTRING(dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT),0,CHARINDEX(':',dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)))) + CONVERT(INT,SUBSTRING(dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT),CHARINDEX(':',dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT))+1,LEN(dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT))))/@DEN)) as decimal(20,2)) as 'Clocked Time' 
	FROM TBL_TR_JOB_ACTUAL 
	WHERE ((@IV_MECH_CODE_FROM = '' OR @IV_MECH_CODE_TO = '') 
		OR (ID_MEC_TR BETWEEN @IV_MECH_CODE_FROM AND @IV_MECH_CODE_TO )) 
		AND (@IV_YEAR = '' OR YEAR(DT_CREATED) = @IV_YEAR)
		AND ((@IV_MONTH_FROM = '' OR @IV_MONTH_TO = '') 
		--OR (MONTH(DT_CREATED) BETWEEN @IV_MONTH_FROM AND @IV_MONTH_TO))  Row 776 - Problem with edited clock-in records
		OR (MONTH(DT_CLOCK_IN) BETWEEN @IV_MONTH_FROM AND @IV_MONTH_TO)) 
	GROUP BY ID_MEC_TR,ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME,DT_CREATED,DT_CLOCK_IN,DT_CLOCK_OUT,ID_SHIFT_NO) AS T1    
LEFT OUTER JOIN TBL_WO_DETAIL  AS T2 ON T1.ID_WO_NO=T2.ID_WO_NO AND   T1.ID_WO_PREFIX   =T2.ID_WO_PREFIX AND T1.ID_JOB=T2.ID_JOB 
LEFT OUTER JOIN TBL_WO_LABOUR_DETAIL WLD ON WLD.ID_WODET_SEQ=T2.ID_WODET_SEQ AND WLD.ID_LOGIN=T1.ID_MEC_TR
LEFT OUTER JOIN TBL_WO_HEADER as WH ON WH.ID_WO_NO = T1.ID_WO_NO and WH.ID_WO_PREFIX = T1.ID_WO_PREFIX

--select * from #TMP_TABLE 

SELECT ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME,ID_MEC_TR,
 CAST(CAST(SUBSTRING(CONVERT(VARCHAR(20),[CLOCKED TIME]),0,CHARINDEX('.',CONVERT(VARCHAR(20),[CLOCKED TIME]))) AS DECIMAL(20,2))
	 + CAST(SUBSTRING(CONVERT(VARCHAR(20),[CLOCKED TIME]),CHARINDEX('.',CONVERT(VARCHAR(20),[CLOCKED TIME]))+1,LEN(CONVERT(VARCHAR(20),CAST([CLOCKED TIME] AS INT)))+1)AS DECIMAL(20,2))/60.00 	AS DECIMAL(20,2))
 AS 'CLOCKED TIME'
,DT_CREATED,[Total Sales],[Order Hourly Price],WO_CHRG_TIME,WO_STD_TIME,[TR Hourly Price],FLG_CHRG_STD_TIME,[ORDER SOLD AMOUNT],[CHARGED AMOUNT],[TOTAL CLOCKED TIME]
,CASE WHEN [Clocked Time] <> 0 THEN 
	CAST([Total Sales]/[Clocked Time] AS DECIMAL(20,2)) 
 ELSE CAST(0 AS DECIMAL(20,2)) END AS 'AVG_HLY_PRC'
,CASE WHEN ID_MEC_TR IS NOT NULL THEN      
	CASE WHEN (SELECT TOP 1 COST_HOUR  FROM TBL_MAS_MEC_COST WHERE ID_MEC COLLATE database_default = #TMP_TABLE.ID_MEC_TR COLLATE database_default) IS NOT NULL THEN 
		(SELECT  TOP 1 COST_HOUR  FROM TBL_MAS_MEC_COST WHERE ID_MEC COLLATE database_default = #TMP_TABLE.ID_MEC_TR COLLATE database_default) 
	ELSE 
		(SELECT TOP 1 HP_COST FROM TBL_MAS_HP_RATE WHERE ID_MECHPCD_HP = (SELECT top 1 ID_MECPCD FROM TBL_MAS_MEC_COMPT_MAP WHERE ID_MEC COLLATE database_default = #TMP_TABLE.ID_MEC_TR COLLATE database_default) ORDER BY DT_EFF_FROM ) 
	END 
 ELSE 
	NULL 
 END AS 'COSTPRICE',
 [WO Hourly Price],WO_STATUS,ISnull([LAB PERCENTAGE],0)AS[LAB PERCENTAGE],Isnull([FIXED PRICE],0)AS [FIXED PRICE],isnull([LAB AMT],0)AS [LAB AMT]
 INTO #TMP_TABLE2 FROM #TMP_TABLE       
WHERE 	YEAR(DT_CREATED) = @IV_YEAR AND MONTH(DT_CREATED) >= @IV_MONTH_FROM 
	AND MONTH(DT_CREATED) <= @IV_MONTH_TO 
	
SELECT * INTO  #TMP_TABLE3 
FROM (SELECT *
		,CASE WHEN ID_MEC_TR IS NOT NULL THEN 
			(SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login =  ID_MEC_TR) 
		 ELSE 
			NULL 
		 END AS 'DEPARTMENT ID'
		,CASE WHEN ID_MEC_TR IS NOT NULL THEN      
			(SELECT DPT_NAME FROM TBL_MAS_DEPT WHERE ID_Dept = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login =  ID_MEC_TR))      
		 ELSE 
			NULL 
		 END AS 'DEPARTMENT'
		,CASE WHEN ID_MEC_TR IS NOT NULL THEN 
			(SELECT First_Name + ' ' + Last_Name FROM TBL_MAS_USERS WHERE ID_Login =  ID_MEC_TR)      
		 ELSE 
			NULL 
		 END AS 'MechanicName'
		,Cast([Total Sales] - ([Clocked Time] * COSTPRICE) AS DECIMAL(20,2)) AS 'Gross MArgin'
		,CASE WHEN ID_UNSOLD_TIME IS NOT NULL THEN 
			[Clocked Time] * COSTPRICE 
		 ELSE 
			NULL 
		 END AS 'Value of Unsld Time'
		,CASE WHEN ID_UNSOLD_TIME IS NULL THEN 
			DBO.[FN_CLOCKEDTIME_PER_WOJOB](ID_WO_NO ,ID_WO_PREFIX ,ID_JOB,[Clocked Time]) 
		 ELSE 
			NULL 
		 END AS 'Difference' ,
		 CASE WHEN (ISNULL([FIXED PRICE],0) > 0) And (ISNULL([LAB AMT],0)> 0) THEN
		([LAB PERCENTAGE]*[FIXED PRICE]/100)/[LAB AMT] 
		ELSE
		1
		END AS 'Gain Ratio'
		FROM #TMP_TABLE2 ) AS g      

UPDATE #TMP_TABLE3 
	SET [Difference] = CASE WHEN [Difference] <> 0 THEN 
							[Clocked Time] - ([Clocked Time]/([Difference] * 100))*100 
					   ELSE 
							[Clocked Time] 
					   END    

SELECT [DEPARTMENT ID],DEPARTMENT,ID_MEC_TR,MechanicName,ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME,[Clocked Time]
	,CASE WHEN ID_UNSOLD_TIME IS NOT NULL THEN 
		(SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_SETTINGS = ID_UNSOLD_TIME)      
	 ELSE 
		NULL 
	 END AS 'UNSOLD DESC'
	,[Clocked Time]*60.00 as 'InspectionMIN'
	,CASE WHEN ID_UNSOLD_TIME IS NOT NULL THEN 
		[Clocked Time] 
	 ELSE 
		NULL 
	 END AS 'UNSOLD TIME'
	,CASE WHEN ID_UNSOLD_TIME IS NULL THEN      
		[Clocked Time] 
	 ELSE 
		NULL 
	 END AS 'SOLD TIME'
	,GETDATE() /*CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CREATED,103),103)*/ AS DT_CREATED,[Total Sales],AVG_HLY_PRC,[Gross MArgin],[Value of Unsld Time]
	,CASE WHEN ID_UNSOLD_TIME IS NULL THEN 
		[Clocked Time] - [Clocked Time] 
	 ELSE 
		NULL 
	 END AS [Difference]
	,0 AS 'InvRatio1',[Order Hourly Price],
	(CASE WHEN [TOTAL CLOCKED TIME]<>0 THEN 
		(((([Clocked Time]/[TOTAL CLOCKED TIME])*100) * [WO_CHRG_TIME]) / 100) 
	 ELSE 
		0.00 
	 END)  AS WO_CHRG_TIME ,--WO_CHRG_TIME, 751
	[TR Hourly Price],FLG_CHRG_STD_TIME,[ORDER SOLD AMOUNT],WO_STD_TIME,
	(CASE WHEN [TOTAL CLOCKED TIME]<>0 THEN 
		((((([Clocked Time]/[TOTAL CLOCKED TIME])*100) * [WO_CHRG_TIME]) / 100) * [WO Hourly Price])
	 ELSE 
		0.00 
	 END) as [CHARGED AMOUNT]--[CHARGED AMOUNT] 751
	,[WO_CHRG_TIME] - [Clocked TIME] AS 'TIME DIFFERENCE',[CHARGED AMOUNT]-[ORDER SOLD AMOUNT] AS 'AMOUNT DIFFERENCE'
	,(CASE WHEN [TOTAL CLOCKED TIME]<>0 THEN 
		(([WO_CHRG_TIME]/[TOTAL CLOCKED TIME])*100) 
	 ELSE 
		0.00 
	 END) AS 'INVOICE RATIO' ,
	 (CASE WHEN [TOTAL CLOCKED TIME]<>0 THEN 
		(((([Clocked Time]/[TOTAL CLOCKED TIME])*100) * [WO_CHRG_TIME]) / 100) 
	 ELSE 
		0.00 
	 END) as 'INV_TIME_PER_MECH',
	 (CASE WHEN [TOTAL CLOCKED TIME]<>0 THEN 
		((((([Clocked Time]/[TOTAL CLOCKED TIME])*100) * [WO_CHRG_TIME]) / 100) * [WO Hourly Price])
	 ELSE 
		0.00 
	 END) as 'INV_AMT_PER_MECH',WO_STATUS,[Gain Ratio]
	 
	 
INTO #TMP_TABLE4 FROM #TMP_TABLE3  

--select * from   #TMP_TABLE4   

select [DEPARTMENT ID],DEPARTMENT,ID_MEC_TR,MechanicName,ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME
	,SUM([Clocked Time]) AS 'Clocked Time',[UNSOLD DESC],SUM(InspectionMIN) AS 'InspectionMIN',SUM([UNSOLD TIME]) AS 'UNSOLD TIME'
	,DT_CREATED,SUM([SOLD TIME]) AS 'SOLD TIME',([Total Sales]) AS 'Total Sales'	,SUM(AVG_HLY_PRC) AS 'AVG_HLY_PRC'
	,SUM([Gross Margin]) AS 'Gross Margin',SUM([Value of Unsld Time]) as 'Value of Unsld Time',[DIFFERENCE],InvRatio1
	,[Order Hourly Price],sum(WO_CHRG_TIME) as 'WO_CHRG_TIME',[TR Hourly Price],FLG_CHRG_STD_TIME,WO_STD_TIME,
	--([ORDER SOLD AMOUNT])
	SUM([Clocked Time]) * [TR Hourly Price] AS 'ORDER SOLD AMOUNT'
	,sum([CHARGED AMOUNT]) as 'CHARGED AMOUNT',SUM([TIME DIFFERENCE])[TIME DIFFERENCE],([AMOUNT DIFFERENCE])[AMOUNT DIFFERENCE]
	,[INVOICE RATIO],convert(varchar(10),@FromDate,103) AS FROMDATE,convert(varchar(10),@ToDate,103) AS TODATE,SUM(INV_TIME_PER_MECH) AS INV_TIME_PER_MECH,SUM(INV_AMT_PER_MECH) AS INV_AMT_PER_MECH,WO_STATUS,[Gain Ratio]
INTO #TMP_TABLE5  from #TMP_TABLE4 
GROUP BY [DEPARTMENT ID],DEPARTMENT,ID_MEC_TR,MechanicName,ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME	
	,[UNSOLD DESC],[DIFFERENCE],InvRatio1,DT_CREATED,[Order Hourly Price],[TR Hourly Price]
	,FLG_CHRG_STD_TIME,WO_STD_TIME,[INVOICE RATIO],WO_STATUS,[Total Sales],[AMOUNT DIFFERENCE],[ORDER SOLD AMOUNT] ,[Gain Ratio]--,INV_TIME_PER_MECH,INV_AMT_PER_MECH  


IF @IV_INV_ORDER = 1 AND @IV_NINV_ORDER = 0 
BEGIN 
	SELECT [DEPARTMENT ID],DEPARTMENT,ID_MEC_TR,MechanicName, ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME
		,DBO.FN_MULTILINGUAL_NUMERIC([Clocked Time],@IV_LANGUAGE) [Clocked Time],[UNSOLD DESC],InspectionMIN
		,DBO.FN_MULTILINGUAL_NUMERIC([SOLD TIME],@IV_LANGUAGE)[SOLD TIME],DBO.FN_MULTILINGUAL_NUMERIC([UNSOLD TIME],@IV_LANGUAGE)[UNSOLD TIME]
		,DT_CREATED, DBO.FN_MULTILINGUAL_NUMERIC([Total Sales],@IV_LANGUAGE) [Total Sales]
		,DBO.FN_MULTILINGUAL_NUMERIC([AVG_HLY_PRC],@IV_LANGUAGE) [AVG_HLY_PRC],DBO.FN_MULTILINGUAL_NUMERIC([Gross MArgin],@IV_LANGUAGE) [Gross MArgin]
		,DBO.FN_MULTILINGUAL_NUMERIC([Value of Unsld Time],@IV_LANGUAGE) [Value of Unsld Time]
		,DBO.FN_MULTILINGUAL_NUMERIC([Difference],@IV_LANGUAGE) [Difference]
		,DBO.FN_MULTILINGUAL_NUMERIC([WO_CHRG_TIME],@IV_LANGUAGE) [WO_CHRG_TIME]
		,DBO.FN_MULTILINGUAL_NUMERIC([ORDER SOLD AMOUNT],@IV_LANGUAGE) [ORDER SOLD AMOUNT]
		,DBO.FN_MULTILINGUAL_NUMERIC([CHARGED AMOUNT],@IV_LANGUAGE) [CHARGED AMOUNT]
		,[WO_CHRG_TIME] - [Clocked TIME] AS 'TIME DIFFERENCE',[CHARGED AMOUNT]-[ORDER SOLD AMOUNT] AS 'AMOUNT DIFFERENCE',DBO.FN_MULTILINGUAL_NUMERIC([INVOICE RATIO],@IV_LANGUAGE) [INVOICE RATIO]
		,[Total Sales] [Total Sales1],CAST([WO_CHRG_TIME] AS DECIMAL(10,2))[WO_CHRG_TIME1]
		,[ORDER SOLD AMOUNT][ORDER SOLD AMOUNT1],[CHARGED AMOUNT][CHARGED AMOUNT1],[SOLD TIME][SOLD TIME1]
		,[INVOICE RATIO][INVOICE RATIO1],convert(datetime,FROMDATE,103)FROMDATE,convert(datetime,TODATE,103)TODATE,INV_TIME_PER_MECH,INV_AMT_PER_MECH,WO_STATUS,[Gain Ratio]       
	FROM #TMP_TABLE5  
	WHERE [DEPARTMENT ID] IN (SELECT ID_DEPT FROM TBL_MAS_DEPT WHERE DPT_NAME >= @IV_DEP_FROM 
	AND DPT_NAME <= @IV_DEP_TO) 
	--AND YEAR(DT_CREATED) = @IV_YEAR AND MONTH(DT_CREATED) >= @IV_MONTH_FROM 
	--AND MONTH(DT_CREATED) <= @IV_MONTH_TO 
	AND (WO_STATUS = 'INV' OR WO_STATUS IS NULL) 
	ORDER BY DEPARTMENT,ID_MEC_TR

END
ELSE
BEGIN

	SELECT [DEPARTMENT ID],DEPARTMENT,ID_MEC_TR,MechanicName, ID_WO_NO,ID_WO_PREFIX,ID_JOB,ID_UNSOLD_TIME
	,DBO.FN_MULTILINGUAL_NUMERIC([Clocked Time],@IV_LANGUAGE) [Clocked Time],[UNSOLD DESC],InspectionMIN
	,DBO.FN_MULTILINGUAL_NUMERIC([SOLD TIME],@IV_LANGUAGE)[SOLD TIME],DBO.FN_MULTILINGUAL_NUMERIC([UNSOLD TIME],@IV_LANGUAGE)[UNSOLD TIME]
	,DT_CREATED, DBO.FN_MULTILINGUAL_NUMERIC([Total Sales],@IV_LANGUAGE) [Total Sales]
	,DBO.FN_MULTILINGUAL_NUMERIC([AVG_HLY_PRC],@IV_LANGUAGE) [AVG_HLY_PRC],DBO.FN_MULTILINGUAL_NUMERIC([Gross MArgin],@IV_LANGUAGE) [Gross MArgin]
	,DBO.FN_MULTILINGUAL_NUMERIC([Value of Unsld Time],@IV_LANGUAGE) [Value of Unsld Time]
	,DBO.FN_MULTILINGUAL_NUMERIC([Difference],@IV_LANGUAGE) [Difference]
	,DBO.FN_MULTILINGUAL_NUMERIC([WO_CHRG_TIME],@IV_LANGUAGE) [WO_CHRG_TIME]
	,DBO.FN_MULTILINGUAL_NUMERIC([ORDER SOLD AMOUNT],@IV_LANGUAGE) [ORDER SOLD AMOUNT]
	,DBO.FN_MULTILINGUAL_NUMERIC([CHARGED AMOUNT],@IV_LANGUAGE) [CHARGED AMOUNT]
	,[WO_CHRG_TIME] - [Clocked TIME] AS 'TIME DIFFERENCE',[CHARGED AMOUNT]-[ORDER SOLD AMOUNT] AS 'AMOUNT DIFFERENCE',DBO.FN_MULTILINGUAL_NUMERIC([INVOICE RATIO],@IV_LANGUAGE) [INVOICE RATIO]
	,[Total Sales] [Total Sales1],CAST([WO_CHRG_TIME] AS DECIMAL(10,2))[WO_CHRG_TIME1]
	,[ORDER SOLD AMOUNT][ORDER SOLD AMOUNT1],[CHARGED AMOUNT][CHARGED AMOUNT1],[SOLD TIME][SOLD TIME1]
	,[INVOICE RATIO][INVOICE RATIO1],convert(datetime,FROMDATE,103)FROMDATE,convert(datetime,TODATE,103)TODATE,INV_TIME_PER_MECH,INV_AMT_PER_MECH,WO_STATUS,[Gain Ratio]       
	FROM #TMP_TABLE5  
	WHERE [DEPARTMENT ID] IN (SELECT ID_DEPT FROM TBL_MAS_DEPT WHERE DPT_NAME >= @IV_DEP_FROM 
	AND DPT_NAME <= @IV_DEP_TO) 
	--AND YEAR(DT_CREATED) = @IV_YEAR AND MONTH(DT_CREATED) >= @IV_MONTH_FROM 
	--AND MONTH(DT_CREATED) <= @IV_MONTH_TO 
	AND (WO_STATUS <> 'INV' OR WO_STATUS IS NULL)
	ORDER BY DEPARTMENT,ID_MEC_TR
END



  DROP TABLE #TMP_TABLE3    
  DROP TABLE #TMP_TABLE2     
  DROP TABLE #TMP_TABLE
  DROP TABLE #TMP_TABLE4
  DROP TABLE #TMP_TABLE5
  


/*END NEW SCRIPT--------------------------------*/
    

      
END      
/*      
---------------------------------------------------------------------------------------------------------------------      
      
--Total sales = Clocked time per work order job * hourly price the work order job.      
--Average hourly price = Total sales / Clocked time      
--Gross margin = Total sales û (Clocked time * cost price)      
--Value of unsold time = Clocked time at codes for unsold time * cost price set at mechanic.      
--      
-- Cost price at work order job can be set two places. Directly at mechanic, and if this not is filled out then       
-- it should use the cost price from the hourly price table      
      
EXEC USP_RPT_HOURS_PER_MECHANIC_REPORT '', '', '', '', '', '','','English'      
EXEC USP_RPT_HOURS_PER_MECHANIC_REPORT 'Department1', 'Department1', '', '', '', '',''      
EXEC USP_TR_INSINOUT_FETCH null,NULL,NULL,null      
      
SELECT * fROM tbl_WO_DETAIL WHERE ID_WO_NO = 158      
       
-----------------------------------------------------------------------------------------------------------------      
*/
